.wrapper {
  padding: 0;
  background: transparent;
  height: 48px;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @mixin font-button;


  &.full-width {
    width: 100%;

    & .visible-wrapper {
      width: 100%;
    }
  }


  & .visible-wrapper {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  &.hasIconLeading .visible-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.hasIconLeading.hug-text .visible-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }

  &.size-regular .visible-wrapper {

    height: 32px;
  }

  &.size-large .visible-wrapper {
    height: 48px;
  }

  & .icon {
    height: 24px;
    width: 24px;
  }

  &:not(.hasIconLeading) .icon.leading {
    display: none;
  }

  &:not(.hasIconTrailing) .icon.trailing {
    display: none;
  }

  & .label {
    padding-left: 8px;
    padding-right: 8px;
  }

  &.variant-normal {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    color: var(--on-normal-active-color);

    & .icon {
      color: var(--on-normal-neutral-color);
    }
  }

  &.variant-flat {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
    color: var(--on-flat-active-color);

    & .icon {
      color: var(--on-flat-neutral-color);
    }
  }

  &.variant-raised {
    @mixin style style=raised visibleWrapperClass=.visible-wrapper;
    color: var(--on-raised-active-color);

    & .icon {
      color: var(--on-raised-neutral-color);
    }
  }

  &.variant-check:not(.checked) {
    @mixin style style=indent visibleWrapperClass=.visible-wrapper;
    @mixin font-body;
    color: var(--on-indent-active-color);

    & .icon {
      color: var(--on-indent-neutral-color);
    }
  }

  &.variant-check.checked {
    @mixin style style=selected visibleWrapperClass=.visible-wrapper;
    @mixin font-body-active;
    color: var(--on-selected-active-color);

    & .icon {
      color: var(--on-selected-neutral-color);
    }
  }
}