* {
    box-sizing: border-box;
}

:host {
    display: block;
    width: fit-content;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: var(--instrument-components-readout-padding-vertical) var(--instrument-components-readout-padding-horizontal);

    &.horizontal {
        flex-direction: row;
        align-items: center;
    }

    .setpoint, .value, .label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px var(--instrument-components-readout-padding-horizontal);
    }

    & .setpoint {
        color: var(--instrument-enhanced-secondary-color);
        @mixin font-instrument-value-regular;
    }

    &.horizontal.enhanced .setpoint {
        @mixin font-instrument-value-enhanced;
    }

    & .value {
        @mixin font-instrument-value-regular;
        padding: 0px var(--instrument-components-readout-padding-horizontal);
        justify-content: end;


        .value-hint-zero {
            color: var(--border-outline-color)
        }

        .value-blue {
            color: var(--instrument-enhanced-secondary-color);
        }
    }

    & .label {
        justify-content: end;
        gap: var(--instrument-components-readout-icon-spacing);
        color: var(--element-neutral-color);

        .tag {
            @mixin font-instrument-label;
        }

        .unit {
            @mixin font-instrument-unit;
        }
    }

    &.horizontal.enhanced .label {
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 0;
    }

    &.left-aligned.horizontal  {
        .label {
            align-items: start;
        }
    }
    &.neutral-color {
        .value-blue {
            color: var(--element-neutral-color);
        }
    }

    &.enhanced {
        .value {
            @mixin font-instrument-value-enhanced;
        }
    }

    .divider {
        height: var(--instrument-components-readout-divider-height-regular);
        width: 1px;
        background-color: var(--border-outline-color);
        border-radius: 1px;
        margin: 0 calc(( var(--instrument-components-readout-padding-horizontal) - 1px ) / 2);
    }
}