node_modules/
*.log
.yarn/install-state.gz
.pnp.cjs
packages/openbridge-webcomponents/.figmacache/8a550b5e6817e8eeb05502d9a41bae7b9b5ec1a493ae6041ae9d14a6c433f526.json
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/PrimaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/SecondaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/TertiaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/ToplineLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Tickmarks/ToplineMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/BarWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/BarWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/BarWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/OffWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/OffWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/OffWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/PORT_STBDWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/PORT_STBDWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/PORT_STBDWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/Positive_NegativeWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/Positive_NegativeWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/Positive_NegativeWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/RegularWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/RegularWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-with-style/Watchface/RegularWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/PrimaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/SecondaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark0.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark1.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark2.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark5.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark9.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark10.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark30.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark45.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/TertiaryTickmark90.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/ToplineLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Tickmarks/ToplineMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/BarWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/BarWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/BarWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/OffWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/OffWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/OffWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT STBDWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT STBDWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT STBDWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT_STBDWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT_STBDWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/PORT_STBDWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/Positive_NegativeWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/Positive_NegativeWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/Positive_NegativeWatchfaceSmall.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/RegularWatchfaceLarge.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/RegularWatchfaceMedium.svg
packages/openbridge-webcomponents/src/generated-without-style/Watchface/RegularWatchfaceSmall.svg
