* {
  box-sizing: border-box;
}

.wrapper {
  width: var(--app-components-alert-menu-width);
  height: 560px;
  max-width: calc(100%);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alert-list {
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
  position: relative;

  ::slotted(*) {
    display: block;
    will-change: transform;
  }

  ::slotted(*:not(:last-child)) {
    margin-bottom: 1px;
  }
}

/* Når et element fjernes, vil andre elementer animeres oppover */
::slotted(obc-alert-menu-item.removing) {
  transform: translateY(-100%);
  opacity: 0;
}

.action {
  display: flex;
  height: var(--app-components-alert-menu-footer-container-height);
  padding: 0px var(--app-components-alert-menu-footer-padding-horizontal);
  align-items: center;
  gap: var(--app-components-alert-menu-button-spacing);
  flex-shrink: 0;
  align-self: stretch;
  border-top: 1px solid var(--border-divider-color);
  background: var(--container-global-color);

  obc-button::part(visible-wrapper) {
    height: 100%;
  }
}

.btn {
  flex: 1;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: var(--app-components-alert-menu-button-spacing);

  .icon {
    height: 96px;
    width: 96px;
  }

  .empty-title {
    color: var(--element-active-color);
    @mixin font-body-active;
  }

  .empty-description {
    color: var(--element-neutral-color);
    @mixin font-body;
    max-width: 344px;
    text-align: center;
  }
}