:host {
  display: inline-block;
  position: relative;

  --obc-poi-pointer-active: var(--overlay-element-active-color, #fff);
  --obc-poi-pointer-neutral: var(
    --overlay-element-neutral-color,
    rgb(255 255 255 / 0.59)
  );
  --obc-poi-pointer-camera-selection-width: 64px;
  --obc-poi-pointer-camera-selection-height: 56px;
  width: 32px;
  height: 32px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.wrapper.point.state-regular {
  width: 32px;
  height: 32px;
  padding: 2px;
  gap: 8px;
}

.square-frame {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  width: calc(
    var(--maneuvering-components-poi-button-touch-target, 48px) +
      var(--obc-poi-pointer-box-width-extra, 0px)
  );
  height: calc(
    var(--maneuvering-components-poi-button-touch-target, 48px) +
      var(--obc-poi-pointer-box-height-extra, 0px)
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square-frame .selection-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera-selection-frame {
  display: flex;
  width: calc(
    var(--obc-poi-pointer-camera-selection-width) +
      var(--obc-poi-pointer-box-width-extra, 0px)
  );
  height: calc(
    var(--obc-poi-pointer-camera-selection-height) +
      var(--obc-poi-pointer-box-height-extra, 0px)
  );
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.wrapper > .point,
.wrapper > .button,
.wrapper > .camera {
  z-index: 1;
  box-sizing: border-box;
}

.wrapper > .point.regular {
  border-radius: 100px;
  width: 4px;
  height: 4px;
  background: var(--obc-poi-pointer-neutral);
  box-shadow: 0 1px 2px 0 #000;
}

.wrapper > .point.active {
  width: calc(8px + var(--obc-poi-pointer-box-width-extra, 0px));
  height: calc(8px + var(--obc-poi-pointer-box-height-extra, 0px));
  border: 1px solid var(--obc-poi-pointer-active);
  border-radius: 11px;
}

.wrapper > .point.uncertain {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1.5px dashed var(--obc-poi-pointer-neutral);
  filter: drop-shadow(0 1px 2px #000);
}

.wrapper > .button {
  width: calc(32px + var(--obc-poi-pointer-box-width-extra, 0px));
  height: calc(32px + var(--obc-poi-pointer-box-height-extra, 0px));
  border-radius: 6px;
}

.wrapper > .button.regular,
.wrapper > .button.active,
.wrapper > .button.selected {
  border: 1px solid var(--obc-poi-pointer-active);
  box-shadow: 0 1px 3px 0 #000;
}

.wrapper > .button.uncertain {
  border: 1px dashed var(--obc-poi-pointer-neutral);
  filter: drop-shadow(0 1px 2px #000);
}

.wrapper > .camera {
  width: calc(52px + var(--obc-poi-pointer-box-width-extra, 0px));
  height: calc(44px + var(--obc-poi-pointer-box-height-extra, 0px));
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 #000;
}

.wrapper > .camera.regular {
  border: 1px solid rgb(255 255 255 / 0.5);
}

.wrapper > .camera.active,
.wrapper > .camera.selected {
  border: 1px solid var(--obc-poi-pointer-active);
}

.wrapper > .camera.selected {
  border-radius: 2px;
  border: 1px solid var(--overlay-element-active-color, #fff);
}

.wrapper > .camera.uncertain {
  position: relative;
  border: none;
  box-shadow: none;
  filter: none;
}

.wrapper > .camera.uncertain::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px dashed var(--obc-poi-pointer-neutral);
  border-radius: 2px;
  pointer-events: none;
  filter: drop-shadow(0 1px 3px #000);
}
