/* ==========================================================================
   Wrapper (base styles shared by all size variants)
   ========================================================================== */
* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  user-select: none;
  width: auto;
  flex-direction: column;
  align-items: center;
  width: 320px;

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    height: fit-content;
  }

  .content-button {
    @mixin style style=flat;
    @mixin font-body;
    color: var(--element-active-color);
    border-radius: var(--ui-components-accordion-border-radius);
    background: var(--container-background-color);
    box-shadow: var(--shadow-flat);
    width: 100%;
    padding: 0;
    border: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--flat-enabled-border-color);
    background: var(--flat-enabled-background-color);
    min-height: var(--global-size-spacing-touch-target-min);
    padding: 0 var(--ui-components-accordion-padding-horizontal);
  }

  .content-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .container-icon {
    display: flex;
    padding: 4px 0;
    justify-content: center;
    align-items: center;
    color: var(--element-neutral-color)

  }

  &.state-disabled,  
  &.state-disabled .container-icon,
  &.state-disabled .container-labels,
  &.state-disabled .status,
  &.state-disabled.style-large .label-description {
    color: var(--element-disabled-color);
  }

  .leading-icon {
    width: var(--ui-components-accordion-icon-size);
    height: var(--ui-components-accordion-icon-size);
  }

  .container-labels {
    display: flex;
    min-height: 40px;
    padding: 0px var(--ui-components-accordion-label-spacing);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 0;
  }

  .container-status,
  .container-type {
      display: flex;
      padding: 0px var(--ui-components-accordion-label-spacing);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  .label-title {
    width: fit-content;
  }

  .status {
    color: var(--element-neutral-color);
  }

  .leading-icon,
  .trailing-icon {
    width: var(--ui-components-accordion-icon-size);
    height: var(--ui-components-accordion-icon-size);
    flex-shrink: 0;
  }

  &.state-expanded {
    & .container-content-additional {
      color: var(--element-neutral-color);
      @mixin font-body;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      height: 100%;
      padding: 0 16px 16px 16px;
    }

    & .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: var(--ui-components-accordion-border-radius);
      background: var(--container-background-color);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
    }

    & .content-button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
    }
    
    & .expanded-content {
      padding: 16px 8px;
    }
  }

  &.style-single-line {
    .content-container {
      padding: 0 8px;
    }
  }

  &.style-large {
    .content-container {
      padding: 4px 8px;
    }

  .label-description {
    @mixin font-label;
    flex: 1 0 0;
    width: 100%;
    overflow: hidden;
    color: var(--element-neutral-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    }
  }
  

  &.position-top {
    & .content-button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

     & .card-container {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.position-bottom {
    & .content-button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    & .card-container {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &.position-center {
    & .content-button {
      border-radius: 0;
      
    }

    & .card-container {
      border-radius: 0;
    }
  }
}
