label {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 48px;

  color: var(--element-active-color, #1a1a1a);

  @mixin font-body;
}

input {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0; /* (48px-24px)/2= (height of the input - height of the presenter) / 2 */
  bottom: 0;
  right: -1px;
  left: -1px;
  opacity: 1;
  margin: auto;
  opacity: 0;
  cursor: pointer;
}

.presenter {
  box-sizing: border-box;
  width: 48px;
  height: 24px;

  background: var(--indent-enabled-background-color, rgba(0, 0, 0, 0.05));
  border: solid 1px var(--element-inactive-color, rgba(0, 0, 0, 0.42));
  border-radius: 12px;

  display: flex;
  position: relative;
  align-items: center;

  padding: 6px;

  &:hover {
    background: var(--indent-hover-background-color, rgba(0, 0, 0, 0.1));
  }

  &:active {
    background: var(--indent-pressed-background-color, rgba(0, 0, 0, 0.16));
  }

  &:has(:focus-visible) {
    border-width: 0;
    outline-color: var(--indent-focused-border-color, rgba(0, 110, 225, 0.3));
    outline-width: 4px;
    outline-style: solid;
  }

  &.checked {
    justify-content: flex-end;
    @mixin style style=selected;
  }
}

.knob {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: var(--element-neutral-color, rgba(0, 0, 0, 0.59));

  .checked & {
    background: var(--on-selected-active-color, #fff);
  }
}
