.card {
  @mixin card;
  display: flex;
  flex-direction: column;
  padding: var(--app-components-app-menu-padding-vertical)
    var(--app-components-app-menu-margin-horizontal);
  box-sizing: border-box;
  width: fit-content;

  .main-apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 var(--app-components-app-menu-app-button-spacing);
    padding: var(--app-components-app-menu-padding-vertical)
      var(--app-components-app-menu-padding-horizontal);
  }
}
