.visually-hidden {
  box-sizing: border-box;
  display: flex;
  height: var(--ui-components-checkbox-touch-target-size);
  min-width: var(--ui-components-checkbox-touch-target-size);
  min-height: var(--ui-components-checkbox-touch-target-size);
  padding: 0px var(--ui-components-checkbox-margin);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
  outline: none;

  &.state-loading {
    cursor: progress;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: none;
  }
}

.checkbox-container {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.checkbox-loading-spinner {
  width: var(--global-size-spacing-icon-icon-size-small, 16px);
  height: var(--global-size-spacing-icon-icon-size-small, 16px);
  align-self: center;
  margin: auto;
  animation: checkbox-loading-spin 1000ms linear infinite;

  circle {
    fill: none;
    stroke: currentColor;
    stroke-width: var(
      --ui-components-progressbars-progress-bar--circular-bar-weight-small,
      2px
    );
    stroke-linecap: round;
    stroke-dasharray: 24 14;
  }

  .state-loading.status-unchecked & {
    color: var(--element-neutral-color);
  }

  .state-loading.status-checked & {
    color: var(--element-active-inverted-color);
  }

  .state-loading.status-mixed & {
    color: var(--instrument-enhanced-secondary-color);
  }
}

.checkbox-icon {
  width: var(--global-size-spacing-icon-icon-size-regular);
  height: var(--global-size-spacing-icon-icon-size-regular);
  flex-shrink: 0;

  .status-checked & {
    color: var(--on-selected-active-color);
  }

  :not(.disabled).status-mixed & {
    color: var(--on-amplified-active-color);
  }

  .disabled.status-mixed & {
    color: var(--on-amplified-disabled-color);
  }
}

.checkbox-box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: var(--ui-components-checkbox-visual-target-size);
  height: var(--ui-components-checkbox-visual-target-size);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--ui-components-checkbox-border-radius);
  border: 1px solid transparent;
  background: transparent;

  .status-unchecked & {
    border: 1px solid var(--element-symbol-color);
    background: var(--indent-enabled-background-color);
  }

  .status-checked & {
    border: 1px solid var(--selected-enabled-border-color);
    background: var(--selected-enabled-background-color);
  }

  .status-mixed & {
    border: 1px solid var(--instrument-enhanced-secondary-color);
    background: var(--amplified-enabled-background-color);
  }

  :not(.disabled).state-enabled.status-unchecked:hover & {
    border: 1px solid var(--element-symbol-color);
    background: var(--indent-hover-background-color);
  }

  :not(.disabled).state-enabled.status-checked:hover & {
    border: 1px solid var(--selected-hover-border-color);
    background: var(--selected-hover-background-color);
  }

  :not(.disabled).state-enabled.status-mixed:hover & {
    border: 1px solid var(--instrument-enhanced-secondary-color);
    background: var(--amplified-hover-background-color);
  }

  :not(.disabled).state-pressed.status-unchecked &,
  :not(.disabled).state-enabled.status-unchecked:active & {
    border: 1px solid var(--element-symbol-color);
    background: var(--indent-pressed-background-color);
  }

  :not(.disabled).state-pressed.status-checked &,
  :not(.disabled).state-enabled.status-checked:active & {
    border: 1px solid var(--selected-pressed-border-color);
    background: var(--selected-pressed-background-color);
  }

  :not(.disabled).state-pressed.status-mixed &,
  :not(.disabled).state-enabled.status-mixed:active & {
    border: 1px solid var(--instrument-enhanced-secondary-color);
    background: var(--amplified-pressed-background-color);
  }

  :host(:not([suppress-focus-ring]))
    :not(.disabled).state-enabled.status-unchecked:focus-visible
    & {
    background: var(--indent-enabled-background-color);
  }

  :host(:not([suppress-focus-ring]))
    :not(.disabled).state-enabled.status-checked:focus-visible
    & {
    border-radius: var(--ui-components-checkbox-border-radius);
    background: var(--selected-focused-background-color);
  }

  :host(:not([suppress-focus-ring]))
    :not(.disabled).state-enabled.status-mixed:focus-visible
    & {
    background: var(--amplified-focused-background-color);
  }

  :host(:not([suppress-focus-ring]))
    :not(.disabled).state-enabled:focus-visible
    & {
    border: 1px solid var(--container-global-color);
    outline: var(--global-size-spacing-border-weight-focusframe, 2px) solid
      var(--border-focus-color);
    outline-offset: 1px;
  }

  .disabled.status-unchecked & {
    border: 1px solid var(--indent-disabled-border-color);
    background: var(--indent-disabled-background-color);
  }

  .disabled.status-checked & {
    border: 1px solid var(--selected-disabled-border-color);
    background: var(--selected-disabled-background-color);
  }

  .disabled.status-mixed & {
    border: 1px solid var(--amplified-disabled-border-color);
    background: var(--amplified-disabled-background-color);
  }
}

:host([force-focus-visible]):not([suppress-focus-ring])
  .visually-hidden:not(.disabled).state-enabled
  .checkbox-box {
  border: 1px solid var(--container-global-color);
  outline: var(--global-size-spacing-border-weight-focusframe, 2px) solid
    var(--border-focus-color);
  outline-offset: 1px;
}

:host([force-focus-visible]):not([suppress-focus-ring])
  .visually-hidden:not(.disabled).state-enabled.status-checked
  .checkbox-box {
  border-radius: var(--ui-components-checkbox-border-radius);
  background: var(--selected-focused-background-color);
}

:host([force-focus-visible]):not([suppress-focus-ring])
  .visually-hidden:not(.disabled).state-enabled.status-mixed
  .checkbox-box {
  background: var(--amplified-focused-background-color);
}

@keyframes checkbox-loading-spin {
  to {
    transform: rotate(360deg);
  }
}
