.visually-hidden {
  box-sizing: border-box;
  display: flex;
  height: var(--ui-components-checkbox-touch-target-size);
  min-width: var(--ui-components-checkbox-touch-target-size);
  min-height: var(--ui-components-checkbox-touch-target-size);
  padding: 0px var(--ui-components-checkbox-margin);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer;
  outline: none;

  &.state-loading {
    cursor: progress;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.checkbox-container {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.checkbox-loading-spinner {
  width: var(--global-size-spacing-icon-icon-size-small);
  height: var(--global-size-spacing-icon-icon-size-small);
  align-self: center;
  margin: auto;
  animation: checkbox-loading-spin 1000ms linear infinite;

  circle {
    fill: none;
    stroke: currentColor;
    stroke-width: var(
      --ui-components-progressbars-progress-bar--circular-bar-weight-small
    );
    stroke-linecap: round;
    stroke-dasharray: 24 14;
  }

  .state-loading.status-unchecked & {
    color: var(--element-neutral-color);
  }

  .state-loading.status-checked & {
    color: var(--element-active-inverted-color);
  }

  .state-loading.status-mixed & {
    color: var(--instrument-enhanced-secondary-color);
  }
}

.checkbox-icon {
  width: var(--global-size-spacing-icon-icon-size-regular);
  height: var(--global-size-spacing-icon-icon-size-regular);
  flex-shrink: 0;

  .status-checked & {
    color: var(--on-selected-active-color);
  }
}

.status-unchecked:not(.no-hover-effects) {
  @mixin style style=indent visibleWrapperClass=.checkbox-box;

  &:not(.disabled) .checkbox-box,
  &:not(.disabled):hover .checkbox-box {
    border-color: var(--element-symbol-color);
  }
}

.status-unchecked.no-hover-effects {
  @mixin style style=indent noClick visibleWrapperClass=.checkbox-box;
}

.status-checked.no-hover-effects {
  @mixin style style=selected noClick visibleWrapperClass=.checkbox-box;
}

.status-mixed.no-hover-effects {
  @mixin style style=amplified noClick visibleWrapperClass=.checkbox-box;
}

.status-checked:not(.no-hover-effects) {
  @mixin style style=selected visibleWrapperClass=.checkbox-box;
}

.status-mixed:not(.no-hover-effects) {
  @mixin style style=amplified visibleWrapperClass=.checkbox-box;
}

.checkbox-box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: var(--ui-components-checkbox-visual-target-size);
  height: var(--ui-components-checkbox-visual-target-size);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--ui-components-checkbox-border-radius);
  border: 1px solid transparent;
  background: transparent;

  .status-mixed:not(.disabled) &,
  .status-mixed:not(.disabled):hover &,
  .status-mixed:not(.disabled):active & {
    border-color: var(--instrument-enhanced-secondary-color);
  }

  .status-unchecked.no-hover-effects & {
    @mixin style style=indent noClick;
    border-color: var(--element-symbol-color);
  }
}

.status-unchecked.state-enabled:not(.disabled):not(
    .no-hover-effects
  ):focus-visible
  .checkbox-box {
  border-color: transparent;
}

@keyframes checkbox-loading-spin {
  to {
    transform: rotate(360deg);
  }
}
