@font-face {
  font-family: Noto Sans;
  src: url(/NotoSans.ttf);
}
* {
  font-family: Noto Sans;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* UI/Body */
.font-ui-body {
  font-feature-settings:
    'ss02' on,
    'clig' off,
    'liga' off;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 370;
  line-height: 24px; /* 150% */
}

.color-element-active {
  color: var(--element-active-color);
}

.color-element-neutral {
  color: var(--element-neutral-color);
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
