@font-face {
  font-family: Noto Sans;
  src: url(/NotoSans.ttf);
}

* {
  font-family: Noto Sans;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

/* UI/Body */
.font-ui-body {
  font-feature-settings:
    'ss02' on,
    'clig' off,
    'liga' off;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 370;
  line-height: 24px;
  /* 150% */
}

.font-ui-label {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-family-main);
  font-size: var(--global-typography-ui-label-font-size);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--global-typography-ui-label-line-height)
    /* 133.333% */
  ;
}

.font-ui-label-active {
  font-family: var(--font-family-main);
  font-size: var(--global-typography-ui-label-active-font-size);
  font-style: normal;
  font-weight: var(--global-typography-ui-label-active-font-weight);
  line-height: var(--global-typography-ui-label-active-line-height)
    /* 133.333% */
  ;
}

.font-ui-title {
  /* UI/Title */
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 670;
  line-height: 32px;
  /* 133.333% */
}

.font-ui-subtitle {
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 370;
  line-height: 32px;
  /* 133.333% */
}

.font-instrument-value-regular {
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-instrument-value-regular-font-size);
  font-style: normal;
  font-weight: var(--global-typography-instrument-value-regular-font-weight);
  line-height: var(--global-typography-instrument-value-regular-line-height)
    /* 150% */
  ;
}

.font-instrument-unit {
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-instrument-unit-font-size);
  font-style: normal;
  font-weight: var(--global-typography-instrument-unit-font-weight);
  line-height: var(--global-typography-instrument-unit-line-height)
    /* 133.333% */
  ;
}

.font-instrument-label {
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-instrument-label-font-size);
  font-style: normal;
  font-weight: var(--global-typography-instrument-label-font-weight);
  line-height: var(--global-typography-instrument-label-line-height);
}

.font-ui-button {
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-ui-button-font-size);
  font-style: normal;
  font-weight: var(--global-typography-ui-button-font-weight);
  line-height: var(--global-typography-ui-button-line-height);
}

.color-element-active {
  color: var(--element-active-color);
}

.color-element-neutral {
  color: var(--element-neutral-color);
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}