.wrapper {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(.inactive) {
    background: var(--container-global-color, #fcfcfc);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &.inactive {
    padding-left: 8px;
  }
}

.group {
  display: flex;
  align-items: center;

  &.left > * {
    margin-right: 8px;
    margin-left: 8px;
  }

  .settings &.left > * {
    margin-right: 0;
    margin-left: 0;
  }

  .small &.left > * {
    margin-right: 4px;
    margin-left: 4px;
  }

  &.left .menu-button {
    margin-right: 0;
    margin-left: 0;

    &.wide {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  
}

.title {
  color: var(--element-active-color, #1a1a1a);

  @mixin font-body;
}

.settings .group.left .title  {
  margin-left: 16px;
  margin-right: 16px;
}

.page-name {
  color: var(--element-active-color, #1a1a1a);

  @mixin font-body-active;
}
