.wrapper {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-radius: var(--app-components-badge-border-radius);
  padding: calc(var(--app-components-badge-padding) - 1px);
  border: 1px solid var(--alert-alarm-outline-color);
  background: var(--alert-alarm-color);
  width: fit-content;
  height: 16px;
  box-sizing: border-box;
  min-width: 28px;
  
  &.hideNumber {
    width: 18px;
  }
  
  .badge-icon {
    width: 100%;
    height: 100%;
  }

  .icon {
    width: var(--app-components-badge-icon-size);
    height: var(--app-components-badge-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  & .number {
    @mixin font-label-active;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--app-components-badge-label-spacing) 1px var(--app-components-badge-label-spacing);
    height: var(--app-components-badge-icon-size);
    min-width: var(--app-components-badge-icon-size);
  }

  &.size-large {
    display: inline-flex;
    min-width: 38px;
    height: 24px;
    
    padding: calc(var(--app-components-badge-padding) - 1px);
    justify-content: center;
    align-items: center;
    background: var(--alert-alarm-color);

    &.hideNumber {
      width: 26px;
    }

    & .number {
      padding-bottom: 0;
    }

    & .number-text {
      @mixin font-body-active;
    }

    & .icon {
      width: var(--app-components-badge-icon-size-large);
      height: var(--app-components-badge-icon-size-large);
      display: flex;
			align-items: center;
			justify-content: center;
    }
  }

  &.type-regular {
    @mixin style style=normal;
    color: var(--on-normal-neutral-color);
  }

  &.type-alarm {
    background-color: var(--alert-alarm-color);
    border-color: var(--alert-alarm-outline-color);
    color: var(--on-alarm-color);
  }

  &.type-warning {
      background-color: var(--alert-warning-color);
      border-color: var(--alert-warning-outline-color);
      color: var(--on-warning-color);
  }

  &.type-caution {
      background-color: var(--alert-caution-color);
      border-color: var(--alert-caution-outline-color);
      color: var(--on-caution-color);
  }

  &.type-running {
      background-color: var(--alert-running-color);
      border-color: var(--alert-running-color);
      color: var(--on-running-color);
  }

  &.type-notification {
    background-color: var(--instrument-enhanced-primary-color);
    border-color: var(--instrument-enhanced-primary-color);
    color: var(--on-selected-active-color);
  }

  &.type-enhance {
    background-color: var(--instrument-enhanced-secondary-color);
    border-color: var(--instrument-enhanced-secondary-color);
    color: var(--on-selected-active-color);
  }

  &.type-empty {
    background-color: var(--flat-enabled-background-color);
    border-color: var(--normal-enabled-border-color);
  }

  &.type-automation {
    background-color: var(--container-background-color);
    border-color: var(--container-background-color);
    color: var(--on-flat-neutral-color);
  }

  &.variant-flat {
    @mixin style style=flat;
    background-color: var(--flat-enabled-background-color);
    border-color: var(--flat-enabled-background-color);

    .icon {
      min-width: var(--app-components-badge-icon-size);
      min-height: var(--app-components-badge-icon-size);
    }

    .icon.type-alarm {
      color: unset;
      border-color: var(--alert-alarm-outline-color);
      background: none;
    }

    .icon.type-warning {
      color: unset;
      border-color: var(--alert-warning-outline-color);
      background: none;
    }
    .icon.type-caution {
      color: unset;
      border-color: var(--alert-caution-outline-color);
      background: none;
    }

    .icon.type-regular {
      color: unset;
      border-color: var(--normal-enabled-border-color);
      background: none;
    }

    .icon.type-notification {
      color: unset;
      border-color: var(--instrument-enhanced-primary-outline-color, transparent);
      background: none;
    }

    .icon.type-enhance {
      color: unset;
      background: none;
    }

    .icon.type-regular {
      color: var(--on-normal-neutral-color)
    }

    .number {
      color: var(--element-active-color);
    }

    .icon.type-automation {
      color: unset;
      background: none;
    }
  }
}

.icon.type-alarm path {
  stroke: var(--alert-alarm-outline-color);
}
.icon.type-warning circle {
  stroke: var(--alert-warning-outline-color);
}
.icon.type-caution path {
  stroke: var(--alert-caution-outline-color);
}
.icon.type-running path {
  stroke: none;
}
