.offset-wrapper {
  transform: translateX(var(--poi-offset, 0px));
  transition: transform 0.3s ease-out;
}

.container {
  position: relative;
}

:host {
  display: block;
  width: 0;
}

.container > * {
  position: absolute;
  top: -1px;
  left: 0;
}
