* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  background: var(--integration-container-global-color);
  height: 100%;
  width: 100%;

  .fleet-wrapper,
  .vessel-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding: 4px;
  }
}
