:host {
  display: block;
  width: fit-content;
  --global-typography-instrument-label-padding-bottom: 1px;
  --global-typography-instrument-unit-padding-bottom: 1px;
}

* {
  box-sizing: border-box;
}

.visual-wrapper {
  display: flex;
  align-items: center;
  min-height: var(
    --instrument-components-readout-new-group-horizontal-enhanced-container-min-height
  );
  padding: var(
      --instrument-components-readout-new-group-horizontal-enhanced-container-padding-vertical
    )
    var(
      --instrument-components-readout-new-group-horizontal-enhanced-container-padding-horizontal
    );
}

.content-container {
  display: flex;
  align-items: center;
  column-gap: calc(
    var(
        --instrument-components-readout-new-group-horizontal-enhanced-value-container-gap
      ) /
      2
  );
}

.readout__value-wrapper {
  display: flex;
  align-items: center;
}

.readout__meta {
  display: grid;
  grid-template-rows:
    var(--global-typography-instrument-label-container-height)
    var(--global-typography-instrument-unit-container-height);
  block-size: calc(
    var(--global-typography-instrument-label-container-height) +
      var(--global-typography-instrument-unit-container-height)
  );
  align-content: start;
  row-gap: 0;
  overflow: hidden;

  span {
    display: block;
    margin: 0;
    line-height: 1;
  }
}

.readout__meta-line {
  min-block-size: 0;

  &.readout__meta-line--label {
    @mixin font-instrument-label-box;
  }

  &.readout__meta-line--unit {
    @mixin font-instrument-unit-box;
  }
}

.readout__value {
  @mixin font-instrument-value-enhanced-neutral;
  color: var(--instrument-enhanced-secondary-color);
  display: block;
}

.readout__label {
  @mixin font-instrument-label;
  color: var(--element-neutral-color);
}

.readout__unit {
  @mixin font-instrument-unit;
  color: var(--element-neutral-color);
}
