* {
  box-sizing: border-box;
}

.point-wrapper {
  width: 0;
  height: 0;
}

.positioning-point {
  &.label-bottom {
    top: calc(var(--automation-components-button-touch-target-size) / -2);
    transform: translateX(-50%);
  }

  &.label-right {
    left: calc(var(--automation-components-button-touch-target-size) / -2);
    transform: translateY(-50%);
  }

  &.label-top {
    bottom: calc(var(--automation-components-button-touch-target-size) / -2);
    transform: translateX(-50%);
  }

  &.label-left {
    right: calc(var(--automation-components-button-touch-target-size) / -2);
    transform: translateY(-50%);
  }
}

.symbol-wrapper {
  position: relative;
  width: var(--automation-components-button-touch-target-size);
  height: var(--automation-components-button-touch-target-size);
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &.label-bottom {
    align-items: flex-start;
  }

  &.label-top {
    align-items: flex-end;
  }

  &.label-right {
    align-items: center;
    justify-content: flex-start;
  }

  &.label-left {
    align-items: center;
    justify-content: flex-end;
  }
}

.wrapper {
  padding: var(--automation-components-button-new-state-container-padding);

  &.positioning-point {
    position: absolute;
  }

  .badge-spacer {
    width: 0;
    height: 0;
    transition: all 0.1s ease-in-out;
  }

  &.has-badge-spacer .badge-spacer {
    width: var(--automation-components-button-new-spacer-size);
    height: var(--automation-components-button-new-spacer-size);
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;

  appearance: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;

  @mixin style style=flat;
  border-width: 0;

  &.label-top {
    flex-direction: column-reverse;
  }

  &.label-bottom {
    flex-direction: column;
  }

  &.label-left {
    flex-direction: row-reverse;
  }

  .progress-ring {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
}

.badge-top-right,
.badge-top-left,
.badge-bottom-right,
.badge-bottom-left {
  position: absolute;
  z-index: 1;
}

.icon-touch-target {
  position: relative;
  display: flex;
  width: var(--automation-components-button-touch-target-size);
  height: var(--automation-components-button-touch-target-size);
  justify-content: center;
  align-items: center;
}

.icon-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  width: var(--automation-components-button-new-visual-target-round);
  height: var(--automation-components-button-new-visual-target-round);

  .icon-primary {
    width: var(--automation-components-button-icon-size);
    height: var(--automation-components-button-icon-size);
  }

  .variant-double & {
    .icon-direction {
      width: var(--automation-components-button-icon-double-primary-size);
      height: var(--automation-components-button-icon-double-primary-size);
    }

    .icon-primary {
      width: var(--automation-components-button-icon-double-secondary-size);
      height: var(--automation-components-button-icon-double-secondary-size);
    }
  }

  .variant-square & {
    border-radius: var(--automation-components-button-new-border-radius);
    width: var(--automation-components-button-new-visual-target);
    height: var(--automation-components-button-new-visual-target);
  }

  .variant-flat & {
    background-color: transparent !important;
    border-color: transparent !important;

    .icon-primary {
      width: var(--automation-components-button-icon-size-flat);
      height: var(--automation-components-button-icon-size-flat);
    }
  }

  .icon-silhouette {
    stroke: var(--border-silhouette-color);
    stroke-width: 2;
    position: absolute;
    width: var(--automation-components-button-icon-size-flat);
    height: var(--automation-components-button-icon-size-flat);
    z-index: -1;
  }
}

.badge-top-right {
  top: 0;
  right: 0;
}

.badge-top-left {
  top: 0;
  left: 0;
}

.badge-bottom-right {
  bottom: 0;
  right: 0;
}

.badge-bottom-left {
  bottom: 0;
  left: 0;
}

.progress .icon-holder {
  border-color: transparent !important;
  background: var(--automation-pipe-primary-color) !important;

  .icon-primary {
    width: var(--automation-components-button-icon-size);
    height: var(--automation-components-button-icon-size);
  }
}

.state-closed .icon-holder {
  border-color: var(--automation-pipe-tertiary-inverted-color);
  background: var(--automation-pipe-primary-inverted-color);

  .static & {
    border-color: var(--automation-pipe-secondary-color);
    background: var(--automation-pipe-primary-inverted-color);
  }
}

.state-open .icon-holder {
  border-color: var(--automation-pipe-tertiary-color);
  background: var(--automation-pipe-primary-color);
}

.alert-frame {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
}
