.readout-stack {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;  

  color: var(--element-active-color, #1F1F1F);
  top: 8px;


  .direction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4px;

    @mixin font-instrument-value-s;
  }

  &.small .direction {
    @mixin font-label-active;
  }

  &.enhanced .direction {
    @mixin font-instrument-value-enhanced;
  }

  .zeros {
    color: var(--element-active-color, #1F1F1F);
    padding-left: 2px;
  }

  .label-style-enhanced & .value {
    color: var(--element-active-color, #1F1F1F);
  }

  .direction-icon {
    display: block;
    width: 16px;
    height: 16px;
    color: var(--element-neutral-color);
  }

  &.small .direction-icon {
    width: 12px;
    height: 12px;
  }

  &.enhanced .direction-icon {
    width: 24px;
    height: 24px;
  }

  .unit {
    @mixin font-instrument-unit-s;
    margin-left: 2px;
    padding-right: 2px;
    color: var(--element-neutral-color);
  }

  &.small .unit {
    @mixin font-instrument-unit;
  }

  &.enhanced .unit {
    @mixin font-instrument-unit-s;
    position: relative;
    top: 8px;
  }
  

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    @mixin font-label;
    color: var(--element-Inactive-color, #707070);
  }

  .tag .hash {
    text-align: center;
    width: 16px;
    margin-right: 4px;
    @mixin font-label-active;
  }

  &.small .tag .hash {
    width: 12px;
  }

  &.enhanced .tag .hash {
    width: 24px;
  }

  .label-top &,
  .label-bottom & {
    padding-right: 0;
  }
}
