* {
  box-sizing: border-box;
}

:host {
  height: 0;
  width: 0;
}

.wrapper,
.wrapper-overlap {
  transform: translate(-50%, -100%);
}

.wrapper {
  @mixin style style=flat visibleWrapperClass=.state-layer;
  padding: 0;
  position: relative;
  width: fit-content;
  background: transparent;

  display: flex;
  flex-direction: column;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  & .button-wrapper {
    position: relative;
    width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.type-enhanced {
    .button-wrapper {
      width: 64px;
      height: 64px;
    }

    .visible-wrapper {
      width: 52px;
      height: 52px;
    }

    &.alert-none .state-layer {
      width: 52px;
      height: 52px;
    }

    .state-layer {
      width: 57px;
      height: 57px;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .alert-ring {
      width: 57px;
      height: 57px;
      clip-path: path(
        "M28.5 5 A23.5 23.5 0 1 0 28.51 5 Z M 0 0 H 57 V 57 H 0 Z"
      );
    }
  }

  & .visible-wrapper {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--element-active-inverted-color);
  }

  & .state-layer {
    position: absolute;
    margin: auto;
    border-radius: 100%;
    width: 41px;
    height: 41px;
  }

  & .icon {
    height: 24px;
    width: 24px;
    opacity: var(--obc-poi-target-icon-opacity, 1);
    transition: opacity 0.2s ease-out;
  }

  & .selection-frame {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:not(.alert-none) .selection-frame {
    left: -1px;
  }

  &.alert-none {
    .state-layer {
      width: 38px;
      height: 38px;
    }

    .alert-ring {
      display: none;
    }
  }

  &.alert-caution {
    .id-label {
      background: var(--alert-caution-color);
      border-color: var(--alert-caution-outline-color);
    }

    .alert-ring {
      background: var(--alert-caution-color);
      border-color: var(--alert-caution-outline-color);
      outline-color: var(--alert-caution-outline-color);
    }
  }

  &.alert-warning {
    .id-label {
      background: var(--alert-warning-color);
      border-color: var(--alert-warning-outline-color);
    }

    .alert-ring {
      background: var(--alert-warning-color);
      border-color: var(--alert-warning-outline-color);
      outline-color: var(--alert-warning-outline-color);
    }
  }

  &.alert-alarm {
    .id-label {
      background: var(--alert-alarm-color);
      border-color: var(--alert-alarm-outline-color);
      color: var(--on-alarm-color);
    }

    .alert-ring {
      background: var(--alert-alarm-color);
      border-color: var(--alert-alarm-outline-color);
      outline-color: var(--alert-alarm-outline-color);
    }
  }

  & .alert-ring {
    position: absolute;
    margin: auto;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    border: 0.5px solid var(--alert-caution-outline-color);
    outline: 0.5px solid var(--alert-caution-outline-color);
    outline-offset: -5px;
    /* make the inner center of the ring transparent */
    clip-path: path("M20.5 5 A15.5 15.5 0 1 0 20.51 5 Z M 0 0 H 41 V 41 H 0 Z");
  }

  .id-label {
    @mixin font-label-active;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    background: var(--element-active-inverted-color);
    border: 1px solid var(--element-active-inverted-color);
    color: var(--element-active-color);
    border-radius: 100px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  }
}

.wrapper-overlap {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .vissible-wrapper {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  }

  &.type-enhanced {
    width: 64px;
    height: 64px;

    & .vissible-wrapper {
      width: 36px;
      height: 36px;
    }
  }

  &.alert-caution {
    .vissible-wrapper {
      background-color: var(--alert-caution-color);
      border-color: var(--alert-caution-outline-color);
    }
  }

  &.alert-warning {
    .vissible-wrapper {
      background-color: var(--alert-warning-color);
      border-color: var(--alert-warning-outline-color);
    }
  }

  &.alert-alarm {
    .vissible-wrapper {
      background-color: var(--alert-alarm-color);
      border-color: var(--alert-alarm-outline-color);
    }
  }
}

::slotted([slot="id-label"]) {
  width: 12px;
  height: 12px;
}

.wrapper.has-values {
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--overlay-border-outline-color);
  background: var(--overlay-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

  .state-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .alert-ring {
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    clip-path: none;
    border-radius: 8px;
    outline: transparent 4px solid;
    border: transparent 5px solid;
    outline-offset: -4.5px;
    background-color: unset;

    .alert-none & {
      display: none;
    }

    .alert-caution & {
      border-color: var(--alert-caution-outline-color);
      outline-color: var(--alert-caution-color);
    }

    .alert-warning & {
      border-color: var(--alert-warning-outline-color);
      outline-color: var(--alert-warning-color);
    }

    .alert-alarm & {
      border-color: var(--alert-alarm-outline-color);
      outline-color: var(--alert-alarm-color);
    }
  }

  .id-label {
    position: absolute;
    top: -9.5px;
    box-shadow: none;
    z-index: 1;

    .alert-none & {
      @mixin style style=normal noClick;
    }
  }

  .visible-wrapper {
    box-shadow: none;
    width: var(--maneuvering-components-poi-button-visual-target-round);
    height: var(--maneuvering-components-poi-button-visual-target-round);
    flex-shrink: 0;
    @mixin style style=normal noClick;
  }

  .relation-wrapper {
    display: flex;
    padding: 0 6px 4px 6px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    .relation {
      width: var(--maneuvering-components-poi-button-icon-size);
      height: var(--maneuvering-components-poi-button-icon-size);
      color: var(--element-neutral-color);
    }
  }
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--maneuvering-components-poi-button-data-padding-vertical) 0;
  gap: calc(var(--maneuvering-components-poi-button-data-gap) * 2);

  .has-id-label & {
    padding-top: calc(
      var(--maneuvering-components-poi-id-tag-container-height) +
        var(--maneuvering-components-poi-button-data-padding-vertical)
    );
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .value {
      color: var(--element-active-color);
      text-align: center;
      @mixin font-instrument-value-small-active;
    }

    .label {
      color: var(--element-neutral-color);
      text-align: center;
      @mixin font-instrument-label;
    }

    .unit {
      color: var(--element-neutral-color);
      text-align: center;
      @mixin font-instrument-unit;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      display: block;
      width: 32px;
      height: 1px;
      bottom: calc(
        var(--maneuvering-components-poi-button-data-gap) * -1 - 0.5px
      );
      border-radius: 1px;
      background-color: var(--overlay-border-outline-color);
    }
  }
}
