* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--automation-components-badge-new-size);
  height: var(--automation-components-badge-new-size);
  border-radius: var(--automation-components-badge-new-border-radius);

  .badge {
    position: relative;
  }

  ::slotted([slot="icon-silhouette"]),
  .icon.siluette {
    stroke-width: 2px;
    stroke: var(--border-silhouette-color);
    /* TODO: replace the typo 'siluette' with 'silhouette', probably in Figma as well */
  }

  &:not(.flat) ::slotted([slot="icon-silhouette"]),
  &:not(.flat) .icon.siluette {
    display: none;
    /* TODO: replace the typo 'siluette' with 'silhouette', probably in Figma as well */
  }

  ::slotted(*),
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.flat .badge {
    width: var(--automation-components-badge-new-icon-size-flat);
    height: var(--automation-components-badge-new-icon-size-flat);
    color: var(--element-neutral-color);
  }

  &.regular {
    @mixin style style=normal noClick;
    color: var(--element-inactive-color);

    .badge {
      width: var(--automation-components-badge-new-icon-size);
      height: var(--automation-components-badge-new-icon-size);
    }
  }

  &.enhanced {
    @mixin style style=raised noClick;
    color: var(--element-active-inverted-color);

    .badge {
      width: var(--automation-components-badge-new-icon-size);
      height: var(--automation-components-badge-new-icon-size);
    }
  }
}
