* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-height: 48px;

    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    transform: translateX(-50%);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        width: 0;
        border: var(--normal-enabled-border-color, #CDCDCD) solid 1px;
        height: 8px;

    }

    .visible-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 3px 7px;
        border-radius: 6px;

        @mixin font-instrument-value-s;

        .value {
            color: var(--instrument-enhanced-secondary-color);
            text-align: right
        }

        .unit {
            @mixin font-instrument-unit-s;
            margin-left: 4px;
            color: var(--on-normal-neutral-color);
        }


    }
}