* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;

  & .display {
    display: flex;
  }

  & .field-wrapper {
    display: flex;
    min-width: 0;
    width: 100px;
    max-width: 100%;
    flex: 1;

    & obc-number-input-field {
      display: block;
      min-width: 0;
      width: 100%;
    }
  }

  & .helper-text {
    @mixin font-label;
    text-align: center;
    margin-top: calc(
      -1 * var(--ui-components-input-fields-text-input-field-label-spacing)
    );
    color: var(--element-neutral-color);
  }
}

:host([disabled]) .helper-text {
  color: var(--element-disabled-color);
}

:host([disabled]) .field-wrapper.has-unit-slot .unit-slot {
  color: var(--on-normal-disabled-color);
  border-color: var(--normal-disabled-border-color);
  background: var(--normal-disabled-background-color);
}
