* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}

.display {
  display: flex;
  height: var(--ui-components-input-fields-text-input-field-visual-size);
  padding: 0px
    calc(
      var(--ui-components-input-fields-text-input-field-padding-horizontal) +
        var(--ui-components-input-fields-text-input-field-label-spacing)
    );
  justify-content: flex-end;
  align-items: center;
  border-top: var(--input-field-stroke-weight-top) solid
    var(--normal-enabled-border-color);
  border-bottom: var(--input-field-stroke-weight-bottom) solid
    var(--normal-enabled-border-color);
  background: var(--normal-enabled-background-color);
  gap: 2px;
}

.wrapper.disabled .display {
  background-color: var(--normal-disabled-background-color);
  border-color: var(--normal-disabled-border-color);
}

.value {
  color: var(--element-inactive-color);
  @mixin font-button;

  .disabled & {
    color: var(--on-normal-disabled-color);
  }
}

.unit {
  color: var(--element-inactive-color);
  @mixin font-instrument-unit;

  .disabled & {
    color: var(--on-normal-disabled-color);
  }
}

.helper-text {
  color: var(--element-neutral-color);
  @mixin font-label;
  margin-top: calc(
    (
        var(--ui-components-input-fields-text-input-field-visual-size) -
          var(--ui-components-input-fields-text-input-field-touch-target-size)
      ) /
      2
  );
  padding-bottom: var(
    --ui-components-input-fields-text-input-field-padding-vertical
  );
}

.helper-text.disabled {
  color: var(--element-disabled-color);
}
