@import "../radio/radio.css";

.wrapper {
    display: flex;
    flex-direction: column;
}


  
  .obc-elevated-card-radio__label {
    cursor: pointer;
  }
  
  
  .obc-elevated-card-radio:has(input[type=radio]:checked) label {
    @mixin font-body-active;
  }
  