:host {
  flex: 1;
}

.wrapper {
  height: var(--ui-components-button-touch-target-size);
  width: 100%;
  /* TODO: remove px */
  min-width: var(
    --ui-components-icon-toggle-button-horizontal-item-touch-target-size,
    48px
  );
  min-height: var(
    --ui-components-toggle-button-toggle-button-item-touch-target-size,
    48px
  );
  user-select: none;
  padding: 0;
  background: transparent;
  display: flex;
  appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  @mixin style style=flat visibleWrapperClass=.visible-wrapper;

  &.type-flat {
    border-color: none;
  }

  &.hug-text .visible-wrapper {
    width: fit-content;
  }

  &.icon-text-under {
    align-items: flex-start;
    justify-content: center;
  }
}

.visible-wrapper {
  box-sizing: border-box;
  display: flex;
  height: var(
    --ui-components-toggle-button-toggle-button-item-visual-size,
    32px
  );
  min-width: var(
    --ui-components-icon-toggle-button-horizontal-item-touch-target-size,
    48px
  );
  padding: 0px var(--ui-components-check-button-padding-horizontal);
  border-radius: var(
    --ui-components-toggle-button-toggle-button-item-border-radius
  );
  width: 100%;
  padding: 0px calc(var(--ui-components-check-button-padding-horizontal) * 2);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--on-flat-neutral-color, hsla(0, 0%, 0%, 0.55));
}

.label {
  text-wrap: nowrap;
}

.wrapper:not(.inline-label) .label {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  color: var(--element-active-color, #1a1a1a);
  text-align: center;

  @mixin font-label;
}

.wrapper.inline-label .label {
  @mixin font-body-toggle;
  color: var(--on-flat-active-color);
  padding: 0px
    var(--ui-components-toggle-button-toggle-button-item-label-spacing, 8px);
}

.wrapper.selected.type-regular {
  .visible-wrapper {
    @mixin style style=selected;
  }

  & .icon {
    color: var(--on-selected-active-color, #ffffff);
  }

  & .label {
    @mixin font-label-active;
  }

  &.inline-label .label {
    @mixin font-body-active-toggle;
    color: var(--on-selected-active-color);
  }
}

.wrapper.selected.type-flat {
  .visible-wrapper {
    @mixin style style=amplified;
  }

  & .icon {
    color: var(--on-amplified-active-color);
  }

  & .label {
    @mixin font-label-active;
    color: var(--on-amplified-active-color);
  }

  &.inline-label .label {
    @mixin font-body-active-toggle;
    color: var(--on-amplified-active-color);
  }
}

.wrapper.selected.icon-text-under .label {
  color: var(--element-active-color);
}
