.container {
  padding: 0;
  background: transparent;
  appearance: none;
  width: 200px;
  height: auto;
  border: none;
  display: flex;
  flex-direction: row;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  transform: translateX(var(--obc-poi-target-top-offset-x, 0px));
}

.line {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

obc-poi-target-button {
  transform: translateX(var(--obc-poi-target-button-offset-x, 0px));
  transition: transform 0.1s ease-out;
}

.wrapper[data-no-transition] obc-poi-target-button {
  transition: none;
}

.wrapper.selected {
  top: calc(var(--obc-poi-target-selected-vertical-offset) * -1);
}
