:host {
  display: inline-block;
}

.wrapper {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: var(--ui-components-tag-label-spacing-large);
  height: var(--ui-components-tag-visual-target);
  padding: var(--global-size-spacing-target-padding)
    var(--ui-components-tag-padding-horizontal);
  border: var(--ui-components-badge-icon-size-flat-border-weight) solid
    var(--indent-enabled-border-color);
  border-radius: var(--ui-components-tag-border-radius);
  background: var(--indent-enabled-background-color);

  & .tag-icon-wrapper {
    display: flex;
    width: var(--ui-components-tag-icon-size);
    height: var(--ui-components-tag-icon-size);
    max-width: calc(
      var(--ui-components-tag-visual-target) -
        var(--global-size-spacing-target-padding) * 2 -
        var(--ui-components-badge-icon-size-flat-border-weight) * 2
    );
    max-height: calc(
      var(--ui-components-tag-visual-target) -
        var(--global-size-spacing-target-padding) * 2 -
        var(--ui-components-badge-icon-size-flat-border-weight) * 2
    );

    & ::slotted(*) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  & .tag-label-container {
    display: flex;
  }

  & .tag-label {
    @mixin font-label;
  }

  &.size-large {
    height: var(--ui-components-tag-visual-target-large);
    padding: var(--global-size-spacing-target-padding)
      var(--ui-components-tag-padding-horizontal-large);

    & .tag-icon-wrapper {
      width: var(--ui-components-tag-icon-size-large);
      height: var(--ui-components-tag-icon-size-large);
      max-width: calc(
        var(--ui-components-tag-visual-target-large) -
          var(--global-size-spacing-target-padding) * 2 -
          var(--ui-components-badge-icon-size-flat-border-weight) * 2
      );
      max-height: calc(
        var(--ui-components-tag-visual-target-large) -
          var(--global-size-spacing-target-padding) * 2 -
          var(--ui-components-badge-icon-size-flat-border-weight) * 2
      );
    }

    & .tag-label {
      @mixin font-body;
    }
  }

  &.color-gray {
    color: var(--on-indent-active-color);
    background: var(--indent-enabled-background-color);
    border-color: var(--indent-enabled-border-color);

    & .tag-icon-wrapper {
      color: var(--on-indent-neutral-color);
    }
  }

  &.color-blue {
    color: var(--base-blue-600);
    background-color: var(--base-blue-050);
    border-color: var(--base-blue-100);

    & .tag-icon-wrapper {
      color: var(--base-blue-500);
    }
  }

  &.color-cyan {
    color: var(--base-cyan-600);
    background-color: var(--base-cyan-050);
    border-color: var(--base-cyan-100);

    & .tag-icon-wrapper {
      color: var(--base-cyan-500);
    }
  }

  &.color-teal {
    color: var(--base-teal-600);
    background-color: var(--base-teal-050);
    border-color: var(--base-teal-100);

    & .tag-icon-wrapper {
      color: var(--base-teal-500);
    }
  }

  &.color-green {
    color: var(--base-mint-600);
    background-color: var(--base-mint-050);
    border-color: var(--base-mint-100);

    & .tag-icon-wrapper {
      color: var(--base-mint-500);
    }
  }

  &.color-yellow {
    color: var(--base-yellow-600);
    background-color: var(--base-yellow-050);
    border-color: var(--base-yellow-100);

    & .tag-icon-wrapper {
      color: var(--base-yellow-500);
    }
  }

  &.color-orange {
    color: var(--base-orange-600);
    background-color: var(--base-orange-050);
    border-color: var(--base-orange-100);

    & .tag-icon-wrapper {
      color: var(--base-orange-500);
    }
  }

  &.color-red {
    color: var(--base-red-600);
    background-color: var(--base-red-050);
    border-color: var(--base-red-100);

    & .tag-icon-wrapper {
      color: var(--base-red-500);
    }
  }

  &.color-purple {
    color: var(--base-purple-600);
    background-color: var(--base-purple-050);
    border-color: var(--base-purple-100);

    & .tag-icon-wrapper {
      color: var(--base-purple-500);
    }
  }

  &.color-indigo {
    color: var(--base-indigo-600);
    background-color: var(--base-indigo-050);
    border-color: var(--base-indigo-100);

    & .tag-icon-wrapper {
      color: var(--base-indigo-500);
    }
  }
}
