.wrapper {
  display: flex;
  width: 100%;
  min-width: var(--ui-components-keyboard-component-width-min);
  max-height: var(--ui-components-keyboard-component-height);
  flex-direction: column;
  align-items: center;
  border-radius: var(--ui-components-keyboard-border-radius);
  background: var(--container-background-color);
  box-shadow: var(--shadow-floating-x) var(--shadow-floating-y) var(--shadow-floating-blur) var(--shadow-raised-spread) var(--shadow-floating-color);
  
  &.type-flat {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-outline-color);
    box-shadow: none;
  }
}

.top-bar {
  display: flex;
  height: var(--ui-components-keyboard-top-bar-height);
  padding-left: var(--ui-components-keyboard-nummeric-section-spacing);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.parameter-name {
  @mixin font-overline;
  color: var(--element-neutral-color);
}

.container-content {
  display: flex;
  padding: var(--ui-components-keyboard-section-spacing);
  flex-direction: column;
  align-items: center;
  gap: var(--ui-components-keyboard-section-spacing);
  align-self: stretch;
}

.input-container {
  display: flex;
  align-items: center;
  gap: var(--ui-components-keyboard-section-spacing);
  width: 100%;
}

.input-field {
  align-items: center;
  min-height: var(--ui-components-input-fields-text-input-field-touch-target-size, 48px);
  width: 100%;
  flex: 1;
}

obc-input::part(wrapper) {
  padding: 0;
  min-height: var(--ui-components-input-fields-text-input-field-touch-target-size, 48px);
}

obc-input::part(input) {
  height: var(--ui-components-input-fields-text-input-field-visual-size-large);
  min-height: var(--ui-components-input-fields-text-input-field-touch-target-size, 48px);
}

.container-keyboard {
  display: flex;
  gap: var(--ui-components-keyboard-section-spacing);
  align-self: stretch;
}

.container-left {
  display: flex;
  flex-direction: column;
  gap: var(--ui-components-keyboard-nummeric-button-spacing);
  flex: 1 0 0;
}

.keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ui-components-keyboard-button-spacing);
  align-self: stretch;
}

.row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--ui-components-keyboard-nummeric-button-spacing);
  min-height: var(--ui-components-keyboard-button-size-min);
  width: 100%;
}

.key-button {
  display: flex;
  flex: 1 0 0;
  min-width: var(--ui-components-keyboard-nummeric-touch-target-size);
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
}

obc-button.key-button::part(wrapper) {
  width: 100%;
}

obc-button.key-button::part(visible-wrapper) {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: var(--ui-components-keyboard-nummeric-touch-target-size);
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: 0;
}

.key-button-placeholder {
  height: var(--ui-components-keyboard-button-size-min);
  min-width: var(--ui-components-keyboard-button-size-min);
  flex: 1 0 0;
  user-select: none;
}

.space-button {
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
}

obc-button.space-button::part(visible-wrapper) {
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
}

obc-icon-button::part(visible-wrapper) {
  box-sizing: border-box;
  height: var(--ui-components-keyboard-button-size-min);
  min-width: var(--ui-components-button-touch-target-size);
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ui-components-keyboard-nummeric-button-spacing);
  align-self: stretch;
}

.number-row-container {
  display: flex;
  gap: var(--ui-components-keyboard-section-spacing);
  align-items: center;
  align-self: stretch;
}

.cursor-navigation-number-row {
  display: flex;
  flex-direction: column;
  gap: var(--ui-components-keyboard-nummeric-button-spacing);
}

.navigation-buttons-container {
  display: flex;
  width: var(--ui-components-keyboard-action-button-width);
  align-items: center;
}

.navigation-buttons-container obc-icon-button:first-child::part(visible-wrapper) {
  border-right: none;
}

.action-button {
  width: var(--ui-components-keyboard-nummeric-action-button-width);
  min-width: var(--ui-components-button-touch-target-size);
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
}

obc-button.action-button::part(visible-wrapper) {
  box-sizing: border-box;
  width: var(--ui-components-keyboard-nummeric-action-button-width);
  min-width: var(--ui-components-button-touch-target-size);
  min-height: var(--ui-components-keyboard-nummeric-button-size-min);
}

obc-check-button.action-button::part(visible-wrapper) {
  height: 100%;
}

.row-2 {
  padding-left: var(--ui-components-keyboard-nummeric-padding-spacer);
  padding-right: var(--ui-components-keyboard-nummeric-padding-spacer);
}