:host {
  display: block;
}

.wrapper {
  overflow-y: auto;
  height: 100%;
  --offset: calc(
    (
        var(--menu-navigation-components-scroll-bar-touch-target-size-large) -
          var(--menu-navigation-components-scroll-bar-visual-target-size-large)
      ) /
      2
  );
}

::-webkit-scrollbar {
  width: var(--menu-navigation-components-scroll-bar-touch-target-size-large);
  height: var(--menu-navigation-components-scroll-bar-touch-target-size-large);
  background-color: var(--container-background-color);
}

::-webkit-scrollbar-track-piece {
  border: var(--offset) solid transparent;
  border-radius: 9999px;
  background-color: var(--indent-enabled-background-color);
  outline: 1px solid var(--indent-enabled-border-color);
  outline-offset: calc(-1 * var(--offset) - 1px);
  margin-top: calc(-1 * var(--offset));
  margin-bottom: calc(-1 * var(--offset));
  box-sizing: border-box;
  background-clip: content-box;
}

::-webkit-scrollbar-track-piece:vertical:start {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

::-webkit-scrollbar-track-piece:vertical:end {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

::-webkit-scrollbar-track-piece:hover {
  outline-color: var(--indent-hover-border-color);
  background-color: var(--indent-hover-background-color);
}

::-webkit-scrollbar-track-piece:active {
  outline-color: var(--indent-pressed-border-color);
  background-color: var(--indent-pressed-background-color);
}

::-webkit-scrollbar-thumb {
  border: calc(var(--offset) + 1px) solid transparent;
  outline: 1px solid var(--normal-enabled-border-color);
  outline-offset: calc(-1 * var(--offset) - 1px);
  background-clip: content-box;
  border-radius: 9999px;
  background-color: var(--normal-enabled-background-color);
  min-height: calc(
    var(--menu-navigation-components-scroll-bar-touch-target-size-large) * 1.5
  );

  &:hover {
    outline-color: var(--normal-hover-border-color);
    background-color: var(--normal-hover-background-color);
  }

  &:active {
    outline-color: var(--normal-pressed-border-color);
    background-color: var(--normal-pressed-background-color);
  }
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: var(--global-size-spacing-touch-target-min);
  width: var(--global-size-spacing-touch-target-min);
  box-sizing: border-box;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: center;
  border: var(--offset) solid transparent;
  border-radius: calc(
    var(--offset) + var(--ui-components-button-border-radius)
  );
  background-clip: padding-box;
  background-color: var(--flat-enabled-background-color);
}

::-webkit-scrollbar-button:start:decrement:hover,
::-webkit-scrollbar-button:end:increment:hover {
  background-color: var(--flat-hover-background-color);
}

::-webkit-scrollbar-button:start:decrement:active,
::-webkit-scrollbar-button:end:increment:active {
  background-color: var(--flat-pressed-background-color);
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: var(--icon-02-chevron-up);
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: var(--icon-02-chevron-down);
}
