.wrapper {
  position: relative;
  
  
  &.size-small {
    @mixin style style=normal visibleWrapperClass=.date-container;
  } 
  
  &.type-checked {
    @mixin style style=selected visibleWrapperClass=.date-container;
    .date {
      color: var(--on-selected-active-color);
    }
  }

  &.type-unchecked {
    @mixin style style=flat visibleWrapperClass=.date-container;
  }

  &.size-large {
    width: 201px;
    height: 155px;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    @mixin style style=normal;
    border: none;

    .content-container {
      display: flex;
    }

    .date-item-small {
       position: flex;
       box-sizing: border-box;
       margin-left: auto;
     }
    
    .date-container {
      border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
      border: 1px solid var(--normal-enabled-border-color);
      background: var(--normal-enabled-background-color);

      .date {
          color: var(--on-normal-active-color);
        }
    }

    &.type-checked {
      .date-container {
        border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
        border: 1px solid var(--selected-enabled-border-color);
        background: var(--selected-enabled-background-color);

        .date {
          color: var(--on-selected-active-color);
        }
      }
    }
  
    &.type-unchecked {
      .date-container {
        border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
        border: 1px solid var(--flat-enabled-border-color);
        background: var(--flat-enabled-background-color);

        .date {
          color: var(--on-flat-neutral-color)
        }
      }
    }
  }
  
  
}

.date-item-small {
  display: flex;
  width: var(--Menu-navigation-components-Date-item-touch-target, 48px);
  height: var(--Menu-navigation-components-Date-item-touch-target, 48px);
  padding: var(--Menu-navigation-components-Date-item-padding-vertical, 8px) var(--Menu-navigation-components-Date-item-padding-horizontal, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.date-container {
  position: relative;
  width: var(--Menu-navigation-components-Date-item-visual-size, 32px);
  height: var(--Menu-navigation-components-Date-item-visual-size, 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
  border: 1px solid var(--normal-enabled-border-color);
  background: var(--normal-enabled-background-color);
}

.date {
  line-height: 1;
  user-select: none;
  color: var(--on-normal-active-color);
  font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
  font-family: var(--font-family-Main, "Noto Sans");
  font-size: var(--Global-Typography-UI-Body-active-Font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-Bold, 670);
  line-height: var(--Global-Typography-UI-Body-active-Line-height, 24px); /* 150% */
}

.event-container {
  display: none;
  position: absolute;
  height: 8px;
  left:50%;
  transform: translateX(-50%);
  padding-top: var(--Menu-navigation-components-Date-item-padding-borrom-indicator, 2px);
  gap: var(--Menu-navigation-components-Date-item-indicator-spacing, 2px);
  bottom: 0px;
}

.size-small.hasEvent-true .event-container {
  display: flex;
}

.event-dot {
  width: var(--Menu-navigation-components-Date-item-indicator-size, 4px);
  height: var(--Menu-navigation-components-Date-item-indicator-size, 4px);
  flex-shrink: 0;  
  border-radius: 50%;
  background-color: var(--Color-Styles-Selected-Enabled-background-color, #335483);
}

.size-small.hasEvent-true.moreEvent-true .event02 {
  display: block;
}

.content-container {
  display: none;
  user-select: none;
  padding: 0 var(--Menu-navigation-components-Date-item-padding-horizontal, 8px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Menu-navigation-components-Date-item-event-spacing, 4px);
  align-self: stretch;
}

.size-large.hasEvent-true .content-container {
  display: flex;
}

.event-container02 {
  display: none;
}

.hasEvent-true.moreEvent-true .event-container02 {
  display: block;
}

.event-container {
  display: none;
  padding: 0 var(--Menu-navigation-components-Date-item-padding-horizontal, 8px);
  flex-direction: row;
  align-items: flex-start;
  gap: var(--Menu-navigation-components-Date-item-event-spacing, 4px);
  align-self: stretch;
}

.size-large.hasEvent-true .event-container01 {
  display: flex;
}

.size-large.hasEvent-true.moreEvent-true .event-container02 {
  display: flex;
}

.title {
  @mixin font-body;
  color: var(--on-normal-active-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.description {
  @mixin font-label;
  color: var(--on-normal-neutral-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.wrapper:focus {
  outline: 2px solid var(--normal-focused-border-color);
  outline-offset: 2px;
}

.wrapper:focus:not(:focus-visible) {
  outline: none;
}

.wrapper:focus-visible {
  outline: 2px solid var(--normal-focused-border-color);
  outline-offset: 2px;
}

.wrapper[aria-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;

  &.type-today .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--normal-disabled-border-color);
    background: var(--normal-disabled-background-color);
    .date {
      color: var(--on-normal-disabled-color);
    }
  }

  &.type-checked .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--selected-disabled-border-color);
    background: var(--selected-disabled-background-color); 
    .date {
      color: var(--on-selected-disabled-color);
    }
  }

  &.type-unchecked .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--flat-disabled-border-color);
    background: var(--flat-disabled-background-color);
    .date {
      color: var(--on-flat-disabled-color);
    }
  }
}
