.wrapper {
  position: relative;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-self: center;
  &.size-small {
    @mixin style style=normal visibleWrapperClass=.date-container;
    width: var(--menu-navigation-components-date-item-touch-target);
    height: var(--menu-navigation-components-date-item-touch-target);
    padding: var(--menu-navigation-components-date-item-padding-vertical) var(--menu-navigation-components-date-item-padding-horizontal);

    .date-container {
      display: flex;
      box-sizing: border-box;
      width: var(--menu-navigation-components-date-item-visual-size);
      height: var(--menu-navigation-components-date-item-visual-size);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: var(--menu-navigation-components-date-item-border-radius);
      border: 1px solid var(--normal-enabled-border-color);
      background: var(--normal-enabled-background-color);
    }
  }
    
  &.type-checked {
    @mixin style style=selected visibleWrapperClass=.date-container;
    .date {
      color: var(--on-selected-active-color);
    }

    .event-dot {
      background-color: var(--on-selected-active-color);
    }
  }

  &.type-unchecked {
    @mixin style style=flat visibleWrapperClass=.date-container;
  }

  &.size-large {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 0;
    @mixin style style=normal;
    border: none;

    .date-item-small {
       box-sizing: border-box;
       margin-left: auto;
     }
    
    .date-container {
      border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
      border: 1px solid var(--normal-enabled-border-color);
      background: var(--normal-enabled-background-color);

      .date {
          color: var(--on-normal-active-color);
        }
    }

    .content-container {
      text-align: left;
    }

    &.type-checked {
      .date-container {
        border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
        border: 1px solid var(--selected-enabled-border-color);
        background: var(--selected-enabled-background-color);

        .date {
          color: var(--on-selected-active-color);
        }
      }
    }
  
    &.type-unchecked {
      .date-container {
        border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
        border: 1px solid var(--flat-enabled-border-color);
        background: var(--flat-enabled-background-color);

        .date {
          color: var(--on-flat-neutral-color)
        }
      }
    }
  }
}

.date-item-small {
  display: flex;
  width: var(--Menu-navigation-components-Date-item-touch-target, 48px);
  height: var(--Menu-navigation-components-Date-item-touch-target, 48px);
  padding: var(--Menu-navigation-components-Date-item-padding-vertical, 8px) var(--Menu-navigation-components-Date-item-padding-horizontal, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.date-container {
  position: relative;
  width: var(--Menu-navigation-components-Date-item-visual-size, 32px);
  height: var(--Menu-navigation-components-Date-item-visual-size, 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
  border: 1px solid var(--normal-enabled-border-color);
  background: var(--normal-enabled-background-color);
}

.date {
  user-select: none;
  color: var(--on-normal-active-color);
  @mixin font-body-active;
}

.event-dots {
  display: none;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  padding-top: var(--Menu-navigation-components-Date-item-padding-borrom-indicator, 2px);
  gap: var(--Menu-navigation-components-Date-item-indicator-spacing, 2px);
  bottom: 2px;
}

.size-small.has-events .event-dots {
  display: flex;
}

.event-dot {
  width: var(--Menu-navigation-components-Date-item-indicator-size, 4px);
  height: var(--Menu-navigation-components-Date-item-indicator-size, 4px);
  flex-shrink: 0;  
  border-radius: 50%;
  background-color: var(--selected-enabled-background-color);
}

.content-container {
  display: flex;
  user-select: none;
  padding: 0 var(--Menu-navigation-components-Date-item-padding-horizontal, 8px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Menu-navigation-components-Date-item-event-spacing, 4px);
  align-self: stretch;
}

.event-row {
  display: flex;
  align-items: flex-start;
  gap: var(--Menu-navigation-components-Date-item-event-spacing, 2px);
  align-self: stretch;
  flex-direction: column;
}

.title {
  @mixin font-body;
  color: var(--on-normal-active-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.description {
  @mixin font-label;
  color: var(--on-normal-neutral-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.wrapper.disabled {
  cursor: not-allowed;

  &.type-today .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--normal-disabled-border-color);
    background: var(--normal-disabled-background-color);
    .date {
      color: var(--on-normal-disabled-color);
    }
  }

  &.type-checked .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--selected-disabled-border-color);
    background: var(--selected-disabled-background-color); 
    .date {
      color: var(--on-selected-disabled-color);
    }
  }

  &.type-unchecked .date-container{
    border-radius: var(--Menu-navigation-components-Date-item-border-radius, 4px);
    border: 1px solid var(--flat-disabled-border-color);
    background: var(--flat-disabled-background-color);
    .date {
      color: var(--on-flat-disabled-color);
    }
  }
}
