* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  display: block;
  flex: 1 1 0;
}

:host(:has(.touch-target.type-hug)) {
  width: auto;
  flex: 0 0 auto;
}

.touch-target {
  display: flex;
  width: auto;
  min-height: var(--app-components-integration-system-button-touch-target);
  padding: 4px 0;
  align-items: center;
  gap: 14px;
  border: none;
  background: transparent;
  appearance: none;
  color: var(--integration-on-normal-active-color);
  width: 100%;
  border-radius: var(
      --app-components-integration-system-navigation-item-horizontal-border-radius-top-left
    )
    var(
      --app-components-integration-system-navigation-item-horizontal-border-radius-top-right
    )
    var(
      --app-components-integration-system-navigation-item-horizontal-border-radius-bottom-right
    )
    var(
      --app-components-integration-system-navigation-item-horizontal-border-radius-bottom-left
    );

  .content-container {
    display: flex;
    min-height: var(--app-components-integration-system-button-visual-target);
    padding: 4px
      var(--app-components-integration-system-button-padding-horizontal);
    align-items: center;
    gap: var(--app-components-integration-system-button-label-spacing);
    flex: 1 0 0;
    border-radius: 6px;
    border: var(--app-components-integration-system-button-stroke-weight-bottom)
      solid var(--integration-beta-normal-enabled-border-color);
    background: var(--integration-beta-normal-enabled-background-color);
  }

  &.type-hug .content-container {
    display: flex;
    min-height: var(--app-components-integration-system-button-visual-target);
    padding: 4px
      var(--app-components-integration-system-button-padding-horizontal);
    align-items: center;
    gap: var(--app-components-integration-system-button-label-spacing);
    border-radius: 6px;
    border-top: 1px solid var(--integration-beta-normal-enabled-border-color);
    border-right: var(
        --app-components-integration-system-button-stroke-weight-bottom
      )
      solid var(--integration-beta-normal-enabled-border-color);
    border-bottom: 1px solid var(--integration-beta-normal-enabled-border-color);
    border-left: 1px solid var(--integration-beta-normal-enabled-border-color);
    background: var(--integration-beta-normal-enabled-background-color);
  }

  &.type-rich .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 6px;
    border-top: var(
        --app-components-integration-system-button-stroke-weight-top
      )
      solid var(--integration-beta-normal-enabled-border-color);
    border-right: var(
        --app-components-integration-system-button-stroke-weight-right
      )
      solid var(--integration-beta-normal-enabled-border-color);
    border-bottom: var(
        --app-components-integration-system-button-stroke-weight-bottom
      )
      solid var(--integration-beta-normal-enabled-border-color);
    border-left: var(
        --app-components-integration-system-button-stroke-weight-left
      )
      solid var(--integration-beta-normal-enabled-border-color);
    background: var(--integration-beta-normal-enabled-background-color);
  }

  .main-container {
    display: flex;
    padding: var(--app-components-integration-system-button-padding-vertical)
      var(--app-components-integration-system-button-padding-horizontal-large);
    align-items: center;
    gap: var(--app-components-integration-system-button-label-spacing);
    align-self: stretch;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0
      var(
        --app-components-integration-system-navigation-item-horizontal-label-spacing
      );

    .label {
      @mixin font-button;
    }

    .status {
      @mixin font-label;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .icon {
    color: var(--integration-on-normal-neutral-color);
  }

  .icon.leading {
    width: var(--app-components-integration-system-button-iconsize);
    height: var(--app-components-integration-system-button-iconsize);
  }

  .icon.trailing {
    width: 28px;
    height: 24px;
  }

  .info-container {
    display: flex;
    padding: 0
      var(
        --app-components-integration-system-navigation-item-horizontal-padding-horizontal
      )
      var(
        --app-components-integration-system-navigation-item-horizontal-padding-vertical
      )
      var(
        --app-components-integration-system-navigation-item-horizontal-padding-horizontal
      );
    align-items: center;
    justify-content: flex-start;
    gap: var(
      --app-components-integration-system-navigation-item-horizontal-label-spacing
    );
    align-self: stretch;

    .info-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;

      .info-label {
        @mixin font-label;
      }

      .info-status {
        @mixin font-label-active;
      }
    }
  }

  .info-readout-item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "label label" "value unit";
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: var(
      --app-components-integration-system-navigation-item-horizontal-label-spacing-small
    );

    .info-item-label {
      justify-self: flex-start;
      grid-area: label;
      @mixin font-label;
    }

    .info-item-value {
      grid-area: value;
      @mixin font-label-active;
    }

    .info-item-unit {
      grid-area: unit;
      @mixin font-label;
    }
  }

  &.variant-normal {
    @mixin style style=integration-normal visibleWrapperClass=.content-container;

    & .icon {
      color: var(--integration-on-normal-neutral-color);
    }

    &:disabled {
      color: var(--integration-on-normal-disabled-color);
    }

    &:disabled .icon {
      color: var(--integration-on-normal-disabled-color);
    }
  }

  &.variant-flat {
    @mixin style style=integration-flat visibleWrapperClass=.content-container;
    color: var(--integration-on-flat-active-color);

    & .icon {
      color: var(--integration-on-flat-neutral-color);
    }

    &:disabled {
      color: var(--integration-on-flat-disabled-color);
    }

    &:disabled .icon {
      color: var(--integration-on-flat-disabled-color);
    }
  }

  &.selected {
    @mixin style style=integration-selected
      visibleWrapperClass=.content-container;
    color: var(--integration-on-selected-active-color);
    .icon {
      color: var(--integration-on-selected-neutral-color);
    }
  }
}

.type-hug.touch-target {
  display: inline-flex;
}

.type-rich.touch-target {
  align-items: flex-start;
}

.divider-bottom {
  position: relative;
  left: 4px;
  width: calc(100% - 8px);
  margin-top: 1px;
  margin-bottom: 1px;

  height: 1px;
  background: var(--integration-border-outline);
}
