.wrapper {
  padding: 0;
  background: transparent;
  height: 48px;
  width: 48px;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & .visible-wrapper {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .icon {
    height: 24px;
    width: 24px;
  }

  &.pointer {
    width: 36px;
  }

  &.value-unchecked {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;

    .visible-wrapper {
      color: var(--normal-enabled-background-color);
      border-color: var(--normal-enabled-border-color);
      box-shadow: var(--shadow-flat);
    }

    .icon {
      color: var(--instrument-regular-secondary-color);
    }
  }

  &.value-checked {
    @mixin style style=selected visibleWrapperClass=.visible-wrapper;

    .visible-wrapper {
      background-color: var(--selected-enabled-background-color);
      border-color: var(--selected-enabled-border-color);
      box-shadow: var(--shadow-raised);
    }

    .icon {
      color: var(--on-selected-active-color);
    }
  }
}