.container {
  padding: 0;
  background: transparent;
  appearance: none;
  width: 200px;
  height: auto;
  border: none;
  display: flex;
  flex-direction: row;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
}
