.wrapper {
  padding: 0;
  background: transparent;
  appearance: none;
  width: 48px;
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.type-arrow-left {
    width: 56px;
    flex-direction: row-reverse;
  }

  &.type-arrow-right {
    width: 56px;
    flex-direction: row;
  }
}
