.wrapper {
  width: 483px;
  height: 142px;
  box-sizing: border-box;
  min-height: var(--ui-components-input-fields-text-input-field-touch-target-size);
  flex-shrink: 0;

  .content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--ui-components-input-fields-rich-input-field-border-radius, 6px);
    border-top: var(--input-field-stroke-weight-top) solid var(--normal-enabled-border-color);
    border-right: var(--input-field-stroke-weight-right) solid var(--normal-enabled-border-color);
    border-bottom: var(--input-field-stroke-weight-bottom) solid var(--normal-enabled-border-color);
    border-left: var(--input-field-stroke-weight-left) solid var(--normal-enabled-border-color);
    background: var(--normal-enabled-background-color);
    position: relative;
  }

  .input-container {
    flex: 1;
    width: 100%;
    display: flex;
    padding: var(--ui-components-input-fields-rich-input-field-padding-vertical, 8px) 
             var(--ui-components-input-fields-rich-input-field-padding-horizontal, 8px);
    gap: 8px;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .leading-icon {
    width: var(--ui-components-input-fields-text-input-field-icon-size);
    height: var(--ui-components-input-fields-text-input-field-icon-size);
    flex-shrink: 0;
  }

  .tool-bar-container {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    align-self: stretch;
  }
  
  .tool-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .divider {
    position: absolute;
    left: calc(var(--ui-components-button-touch-target-size) - 0px);
    border-radius: 2px;
    width: 1px;
    height: var(--ui-components-divider-height-regular);
    fill: var(--border-divider-color);
    user-select: none;
    background-color: var(--border-divider-color);
    pointer-events: none;
  }

  .input-field {
    box-sizing: border-box;
    @mixin font-body;
    padding: 0 var(--ui-components-input-fields-rich-input-field-label-spacing, 8px);
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    
    &:focus {
      border-width: var(--global-size-spacing-border-weight-focusframe, 2px);
      border-color: var(--border-focus-color);
    }

    &::placeholder {
      color: var(--element-inactive-color);
    }
  }
  
  &.disabled {
    .content-container {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  
  &.error {
    .content-container {
      border-color: var(--error-border-color, #ef4444);
    }
  }
}