.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  user-select: none;
}

.alert-list {
  min-height: 0;
  flex-grow: 0;
  --alert-list-grid-columns: 1fr;
}

.spacer {
  flex-grow: 1;
}

.action {
  display: flex;
  height: var(--app-components-tool-bar-touch-target-size);
  padding: 0px var(--app-components-alert-toolbar-margin-horizontal);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  border-top: 1px solid var(--border-divider-color);
  background: var(--container-section-color);
  box-shadow: var(--shadow-flat);

  .btn-group {
    display: flex;
  }
}

obc-table::part(grid) {
  /* set from columns[].width */
  grid-template-columns: var(--alert-list-grid-columns);
}

.empty-list {
  @mixin alert-list-empty;

  .icon {
    color: var(--on-flat-neutral-color);
  }
}
