.wrapper {
  position: relative;
  padding: 0;
  background: transparent;
  width: fit-content;
  height: var(--ui-components-button-touch-target-size);
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @mixin font-button;

  &.full-width {
    width: 100%;

    & .visible-wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }

  & .visible-wrapper {
    height: var(--ui-components-button-visual-size);
    border-radius: var(--ui-components-button-border-radius-top-left) var(--ui-components-button-border-radius-top-right) var(--ui-components-button-border-radius-bottom-right) var(--ui-components-button-border-radius-bottom-left);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(var(--ui-components-button-padding-horizontal) * 2);
    padding-right: var(--ui-components-button-padding-horizontal);
  }

  & .icon {
    height: var(--global-size-spacing-icon-icon-size-regular);
    width: var(--global-size-spacing-icon-icon-size-regular);
  }

  & .label {
    padding-left: var(--ui-components-button-label-spacing);
    padding-right: var(--ui-components-button-label-spacing);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @mixin style style=normal visibleWrapperClass=.visible-wrapper;
  color: var(--on-normal-active-color);

  & .icon {
    color: var(--on-normal-neutral-color);
  }

  &:disabled .icon {
    color: var(--on-normal-disabled-color);
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    appearance: base-select;
    opacity: 0;
  }
}
.wrapper:has(select:focus-visible) .visible-wrapper {
  outline-color: var(--border-focus-color);
  outline-width: var(--global-size-spacing-border-weight-focusframe);
  outline-style: solid;
  border-color: var(--container-global-color);
  z-index: 1;
}

::picker(select) {
  appearance: base-select;
  min-width: var(--ui-components-context-menu-menu-width);
  border-radius: 12px;
  background: var(--container-global-color);
  box-shadow: var(--shadow-floating);
  border: none;
  padding: var(--ui-components-context-menu-margin-vertical) var(--ui-components-context-menu-margin-horizontal);
}

option {
  height: var(--menu-navigation-components-navigation-item-touch-target-size);
  min-height: var(--menu-navigation-components-navigation-item-touch-target-size);
  padding: 0px var(--menu-navigation-components-navigation-item-padding-horizontal);
  border-radius: var(--menu-navigation-components-navigation-item-border-radius);
  @mixin style style=flat;
  @mixin font-body;
  color: var(--on-flat-neutral-color);
}

option:checked {
  @mixin style style=amplified;
  color: var(--on-flat-active-color);
  @mixin font-body-active;
}

option::checkmark {
  display: none;
}