:host {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}
