:host {
  display: inline-flex;
}

.wrapper {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  border-radius: 100px;
  user-select: none;
}

.wrapper.type-id {
  padding: 0 4px;
}

.wrapper.type-data {
  gap: 2px;
  padding-right: 4px;
}

.wrapper.type-id.state-selected {
  background: var(--overlay-container-global-color, #fcfcfc);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.wrapper.type-id.state-caution {
  background: var(--alert-caution-color);
  border: 1px solid var(--alert-caution-outline-color);
}

.wrapper.type-id.state-warning {
  background: var(--alert-warning-color);
  border: 1px solid var(--alert-warning-outline-color);
}

.wrapper.type-id.state-alarm {
  background: var(--alert-alarm-color);
  border: 1px solid var(--alert-alarm-outline-color);
}

.wrapper.type-data:is(
    .state-selected,
    .state-caution,
    .state-warning,
    .state-alarm
  ) {
  background: rgba(247, 247, 247, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper.type-id.single-char-content:not(.has-indicator) {
  width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  min-width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  height: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  padding: 0;
}

.wrapper.type-data.single-char-content .id-pill {
  width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  padding: 0;
}

.id-only-text {
  @mixin font-label-active;
  text-align: center;
  color: var(--element-active-color);
  font-feature-settings: "ss04" 1;
}

.wrapper.type-id.state-enabled .id-only-text {
  color: var(--overlay-element-active-color, #fff);
  text-align: center;
  font-feature-settings: "ss04" on;
  font-family: var(--font-family-Main, "Noto Sans");
  font-size: var(--Global-Typography-UI-Label-active-Font-size, 12px);
  font-style: normal;
  font-weight: var(--Global-Typography-UI-Label-active-Font-weight, 670);
  line-height: var(--Global-Typography-UI-Label-active-Line-height, 16px);
  text-shadow:
    1px 0 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px 0 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    1px 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    1px -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 1px 2px #000;
}

.wrapper.type-id.state-warning .id-only-text {
  color: var(--on-warning-color);
}

.wrapper.type-id.state-alarm .id-only-text {
  color: var(--on-alarm-color);
}

.id-pill {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  height: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  border-radius: 100px;
  padding: 0 4px;
}

.wrapper.type-data.state-enabled .id-pill {
  width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  padding: 0;
}

.wrapper.type-data.state-selected .id-pill {
  background: var(--overlay-container-global-color, #fcfcfc);
  border: 1px solid var(--element-inactive-color, #707070);
}

.wrapper.type-data.state-caution .id-pill {
  background: var(--alert-caution-color);
  border: 1px solid var(--alert-caution-outline-color);
}

.wrapper.type-data.state-warning .id-pill {
  background: var(--alert-warning-color);
  border: 1px solid var(--alert-warning-outline-color);
}

.wrapper.type-data.state-alarm .id-pill {
  background: var(--alert-alarm-color);
  border: 1px solid var(--alert-alarm-outline-color);
}

.id-text {
  @mixin font-label-active;
  text-align: center;
  color: var(--element-active-color);
  font-feature-settings: "ss04" 1;
}

.wrapper.type-data.state-enabled .id-text,
.wrapper.type-data.state-enabled .label-text {
  color: var(--overlay-element-active-color, #fff);
  text-align: center;
  font-feature-settings: "ss04" on;
  font-family: var(--font-family-Main, "Noto Sans");
  font-size: var(--Global-Typography-UI-Label-active-Font-size, 12px);
  font-style: normal;
  font-weight: var(--Global-Typography-UI-Label-active-Font-weight, 670);
  line-height: var(--Global-Typography-UI-Label-active-Line-height, 16px);
  text-shadow:
    1px 0 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px 0 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    1px 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px 1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    1px -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    -1px -1px 0 var(--overlay-element-active-inverted-color, #1a1a1a),
    0 1px 2px #000;
}

.wrapper.type-data.state-warning .id-text {
  color: var(--on-warning-color);
}

.wrapper.type-data.state-alarm .id-text {
  color: var(--on-alarm-color);
}

.label-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

.label-text {
  @mixin font-label-active;
  text-align: center;
  color: var(--element-active-color);
  font-feature-settings: "ss04" 1;
}

.indicator-frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--maneuvering-components-poi-id-tag-min-size, 16px);
  height: var(--maneuvering-components-poi-id-tag-min-size, 16px);
}

.indicator {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.indicator .bar {
  box-sizing: border-box;
  position: absolute;
  background: var(--element-neutral-color, #535353);
  border-radius: 7px;
}

.indicator .bar.left {
  width: 2px;
  height: 4px;
  left: 2px;
  top: 4px;
}

.indicator .bar.middle {
  width: 2px;
  height: 8px;
  left: 5px;
  top: 2px;
}

.indicator .bar.right {
  width: 2px;
  height: 4px;
  left: 8px;
  top: 4px;
}

.wrapper.state-enabled .indicator .bar {
  border-radius: 7px;
  background: var(--overlay-element-active-color, #fff);
  box-shadow:
    0 0 0 1px var(--overlay-element-active-inverted-color, #1a1a1a),
    0 1px 2px 0 #000;
}

.wrapper.type-id:is(.state-selected, .state-caution, .state-warning)
  .indicator
  .bar {
  border-radius: 7px;
  background: var(--on-warning-color, #1a1a1a);
}

.wrapper.type-id.state-alarm .indicator .bar {
  background: var(--overlay-element-active-color, #fff);
}
