* {
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--global-size-spacing-touch-target-min);
  min-height: var(--global-size-spacing-touch-target-min);
  max-height: var(--global-size-spacing-touch-target-min);
  width: 100%;
  padding: var(--global-size-spacing-list-item-padding-vertical)
    var(--global-size-spacing-list-item-padding-horizontal)
    var(--global-size-spacing-list-item-padding-vertical)
    calc(
      var(--global-size-spacing-list-item-padding-horizontal) +
        var(--global-size-spacing-list-item-item-spacing)
    );
  gap: var(--global-size-spacing-list-item-item-spacing);
  border-bottom: 1px solid var(--border-outline-color);

  .left {
    display: flex;
    align-items: center;
    gap: var(--global-size-spacing-list-item-item-spacing);
    min-width: 0;
    flex: 1 1 auto;
  }

  .icon {
    width: var(--global-size-spacing-visual-target-min);
    height: var(--global-size-spacing-visual-target-min);
    flex: 0 0 var(--global-size-spacing-visual-target-min);
    color: var(--element-neutral-color);
  }

  ::slotted([slot="icon"]) {
    display: block;
    width: var(--global-size-spacing-visual-target-min);
    height: var(--global-size-spacing-visual-target-min);
  }

  .text {
    display: flex;
    align-items: center;
    gap: var(--global-size-spacing-list-item-item-spacing);
    min-width: 0;
  }

  .title {
    @mixin font-title;

    color: var(--element-active-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .label {
    @mixin font-body;

    color: var(--element-neutral-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actions {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  ::slotted([slot="actions"]) {
    display: block;
    color: var(--on-flat-neutral-color);
  }

  &.state-inactive {
    .icon,
    .title,
    .label {
      color: var(--element-inactive-color);
    }

    ::slotted([slot="actions"]) {
      color: var(--element-inactive-color);
      --on-flat-neutral-color: var(--element-inactive-color);
    }
  }
}
