:host {
  display: inline-flex;
  width: 48px;
  height: 48px;
  line-height: 0;
  pointer-events: none;
}

:host([state="none"]) {
  display: none;
  width: 0;
  height: 0;
}

:host([type="enhanced"]) {
  width: 64px;
  height: 64px;
}

:host([type="button"][state="alert"]) {
  width: 50px;
  height: 50px;
}

:host([type="enhanced"][state="alert"]) {
  width: 66px;
  height: 66px;
}

.frame {
  display: block;
  width: 100%;
  height: 100%;
}

.frame svg {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-frame {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.custom-corner {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1.5px solid #fff;
  border-radius: 2px;
  filter: drop-shadow(0px 1px 2px #000);
}

.custom-corner.tl {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.custom-corner.tr {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.custom-corner.bl {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.custom-corner.br {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}
