* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--menu-navigation-components-navigation-item-touch-target-size);
  text-decoration: none;

  @mixin outline-inward;
  @mixin style style=flat visibleWrapperClass=.visible-wrapper;
  color: var(--on-flat-active-color);

  .visible-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--menu-navigation-components-navigation-item-border-radius);
    padding: 0px calc( var(--menu-navigation-components-navigation-item-margin-horizontal-list-item) + var(--menu-navigation-components-navigation-item-padding-horizontal));
  }

  @mixin font-body;

  &.icon-only {
    width: var(--menu-navigation-components-navigation-item-touch-target-size);
    padding: var(--menu-navigation-components-navigation-item-margin-vertical-icon-button) var(--menu-navigation-components-navigation-item-margin-horizontal-icon-button);

    .visible-wrapper {
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.compact {
    position: relative;
    width: var(--menu-navigation-components-navigation-item-touch-target-size-large);
    height: var(--menu-navigation-components-navigation-item-touch-target-size-large);
    padding: var(--menu-navigation-components-navigation-item-margin-vertical-icon-button) var(--menu-navigation-components-navigation-item-margin-horizontal-icon-button);

    .visible-wrapper {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & .icon.leading {
      anchor-name: --leading-icon;
    }

    & .icon.trailing {
      width: var(--menu-navigation-components-navigation-item-icon-size);
      height: var(--menu-navigation-components-navigation-item-icon-size);
      flex-shrink: 0;
      position: absolute;
      right: 0;
      position-anchor: --leading-icon;
      top: anchor(top);
      bottom: anchor(bottom);
      margin: auto;
    }

    .label {
      @mixin font-label;
      flex-grow: 0;
      flex-basis: auto;

      .checked & {
        @mixin font-label-active;
      }
    }
}

  &.checked {
    @mixin style style=amplified visibleWrapperClass=.visible-wrapper;
    @mixin font-body-active;
    
    & .icon.leading {
      color: var(--instrument-enhanced-secondary-color);
    }
  }

  & .icon {
    display: flex;
    align-items: center;
    color: var(--on-flat-neutral-color);
  }

  &.full .icon.leading {
    margin-right: var(--menu-navigation-components-navigation-item-label-spacing);
  }

  ::slotted([slot="icon"]),
  ::slotted([slot="trailing-icon"]) {
    display: block;
    width: var(--menu-navigation-components-navigation-item-icon-size);
    height: var(--menu-navigation-components-navigation-item-icon-size);
  }

  .icon.trailing {
    width: var(--menu-navigation-components-navigation-item-icon-size);
    height: var(--menu-navigation-components-navigation-item-icon-size);

    .icon-only & {
      width: var(--menu-navigation-components-navigation-item-icon-size);
      height: var(--menu-navigation-components-navigation-item-icon-size);
      flex-shrink: 0;
      position: absolute;
      right: 0;
      transform: translateX(35%);
    }
  }

  .label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }
}
