* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--ui-components-text-input-field-touch-target-size);
  padding: var(--ui-components-text-input-field-padding-vertical) var(--ui-components-text-input-field-padding-right) var(--ui-components-text-input-field-padding-vertical) var(--ui-components-text-input-field-padding-left);
}

.input-wrapper {
  position: relative;
}

input {
  color: var(--element-active-color, #1a1a1a);
  @mixin font-body;
  appearance: none;
  @mixin style style=normal;
  width: 100%;
  padding-left: calc( var(--ui-components-text-input-field-padding-horizontal) + var(--ui-components-text-input-field-label-spacing));  
  padding-right: var(--ui-components-text-input-field-label-spacing);
  height: var(--ui-components-text-input-field-visual-size);
  border-radius: var(--ui-components-text-input-field-border-radius-top-left) var(--ui-components-text-input-field-border-radius-top-right) var(--ui-components-text-input-field-border-radius-bottom-right) var(--ui-components-text-input-field-border-radius-bottom-left);
  
  &::placeholder {
    color: var(--element-inactive-color);
  }

  &:disabled::placeholder {
    color: var(--element-disabled-color);
  }

  .align-right & {
    text-align: right;
  }

  .align-center & {
    text-align: center;
    padding-left: var(--ui-components-text-input-field-label-spacing);
  }

  .has-leading-icon & {
    padding-left: calc( var(--ui-components-text-input-field-padding-horizontal) + var(--ui-components-text-input-field-label-spacing) +  var(--ui-components-text-input-field-icon-size));
  }

  .has-trailing-icon & {
    padding-right: calc( var(--ui-components-text-input-field-padding-horizontal) +  var(--ui-components-text-input-field-icon-size));
  }

  .squared  & {
    border-radius: 0;
  }

  .font-button & {
    @mixin font-button;
  }

  .error & {
    outline: var(--global-size-spacing-border-weight-focusframe) solid var(--instrument-port-primary-color);
    outline-offset: calc( -1 * var(--global-size-spacing-border-weight-focusframe));
  }
}

.icon {
  pointer-events: none;
  color: var(--element-neutral-color);
  width: var(--ui-components-text-input-field-icon-size);
  height: var(--ui-components-text-input-field-icon-size);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  &.leading {
    left: var(--ui-components-text-input-field-padding-horizontal);
  }

  &.trailing {
    right: 0;
    min-width: var(--ui-components-icon-button-visual-target-size);

  }
}

.helper-text {
@mixin font-label;
color: var(--element-neutral-color);
padding: 0px var(--ui-components-text-input-field-padding-horizontal);
}
