@define-mixin automation-label {
  /* Automation/Lable */
  font-family: var(--font-family-Main, "Noto Sans");
  font-size: var(--Automation-components-typography-label-font-size, 12px);
  font-style: normal;
  font-weight: var(--Automation-components-typography-label-font-weight, 370);
  line-height: var(
    --Automation-components-typography-label-line-height,
    16px
  ); /* 133.333% */
}
