@define-mixin checked {
  border: 1px solid var(--amplified-enabled-border-color, rgba(0, 0, 0, 0));
  background: var(--amplified-enabled-background-color, rgba(48, 87, 146, 0.1));

  &:hover {
    border-color: var(--amplified-hover-border-color);
    background-color: var(--amplified-hover-background-color);
  }

  &:active {
    border-color: var(--amplified-pressed-border-color);
    background-color: var(--amplified-pressed-background-color);
  }

  &:focus-visible {
    outline-color: var(--amplified-focused-border-color);
    outline-width: 4px;
    outline-style: solid;
  }
}
