@define-mixin flat $wrapperClass {
  &:focus {
    outline: none;
  }

  & $(wrapperClass) {
    border: 1px solid var(--flat-enabled-border-color, rgba(0, 0, 0, 0));
    background: var(--flat-enabled-background-color, rgba(0, 0, 0, 0));
    color: var(--on-flat-neutral-color, hsla(0, 0%, 0%, 0.55));
    cursor: pointer;
  }

  &[checked] $(wrapperClass) {
    border: 1px solid var(--amplified-enabled-border-color, rgba(0, 0, 0, 0));
    background: var(
      --amplified-enabled-background-color,
      rgba(48, 87, 146, 0.1)
    );

    &:hover $(wrapperClass) {
      border-color: var(--amplified-hover-border-color);
      background-color: var(--amplified-hover-background-color);
    }

    &:active $(wrapperClass) {
      border-color: var(--amplified-pressed-border-color);
      background-color: var(--amplified-pressed-background-color);
    }

    &:focus-visible $(wrapperClass) {
      outline-color: var(--amplified-focused-border-color);
      outline-width: 4px;
      outline-style: solid;
    }
  }

  &:hover $(wrapperClass) {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.06);
  }

  &:active $(wrapperClass) {
    border-color: var(--flat-pressed-border-color, rgba(0, 0, 0, 0));
    background-color: var(--flat-pressed-background-color, rgba(0, 0, 0, 0.12));
  }

  &:focus-visible $(wrapperClass) {
    outline-color: var(--flat-focused-border-color);
    outline-width: 4px;
    outline-style: solid;
  }
}
