@define-mixin font-button {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-family-main);
  font-size: var(--global-typography-button-font-size);
  font-style: normal;
  font-weight: var(--global-typography-button-font-weight);
  line-height: var(--global-typography-button-line-height);
}
