@define-mixin font-body-active {
        /* UI/Body-Active */
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-family-main);
        font-size: var(--global-typography-body-active-font-size);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        line-height: var(--global-typography-body-active-line-height);
}