@define-mixin font-overline {
 /* UI/Overline */
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-family-main);
    font-size: var(--global-typography-overline-font-size);
    font-style: normal;
    font-weight: var(--global-typography-overline-font-weight);
    line-height: var(--global-typography-overline-line-height);
    letter-spacing: var(--global-typography-overline-letter-spacing);
    text-transform: capitalize;
}