@define-mixin font-instrument-value-regular-active {
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "ss04" on;
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-instrument-value-regular-font-size);
  font-style: normal;
  font-weight: var(
    --global-typography-instrument-value-regular-font-weight-active
  );
  line-height: var(--global-typography-instrument-value-regular-line-height)
    /* 125% */;
}
