@define-mixin font-body {
    /* UI/Body */
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-family-main);
    font-size: var(--global-typography-ui-body-font-size);
    font-style: normal;
    font-weight: var(--global-typography-ui-body-font-weight);
    line-height: var(--global-typography-ui-body-line-height);
    text-decoration: none;

}