@define-mixin font-label-active {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-family-main);
    font-size: var(--global-typography-label-active-font-size);
    font-style: normal;
    font-weight: var(--global-typography-label-active-font-weight);
    line-height: var(--global-typography-label-active-line-height);
}