@define-mixin font-subtitle {
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;
  font-family: var(--font-family-main);
  font-size: var(--font-size-150);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150) /* 133.333% */;
}
