@define-mixin font-instrument-value-regular {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 570;
    line-height: 24px;
    text-align: center;
    font-variation-settings: 'wdth' 100, 'CTGR' 0;
    
}