@define-mixin font-instrument-value-large {
  font-family: var(--global-typography-font-family);
  font-size: var(--global-typography-instrument-value-large-font-size);
  font-style: normal;
  font-weight: var(
    --global-typography-instrument-value-large-font-weight-active
  );
  line-height: var(--global-typography-instrument-value-large-line-height)
    /* 100% */;
}
