@define-mixin normal $wrapperClass {
  & $(wrapperClass) {
    border: 1px solid var(--normal-enabled-border-color, #cdcdcd);
    background: var(--normal-enabled-background-color, #fff);
    color: hsla(0, 0%, 0%, 0.55);
    cursor: pointer;
  }

  &:hover $(wrapperClass) {
    border-color: var(--normal-hover-border-color, rgba(0, 0, 0, 0.2));
    background: var(--normal-hover-background-color, #f0f0f0);
  }

  &:active $(wrapperClass) {
    border-color: var(--normal-pressed-border-color, rgba(0, 0, 0, 0.2));
    background: var(--normal-pressed-background-color, #e0e0e0);
  }

  &:focus-visible $(wrapperClass) {
    outline-color: hsla(211, 100%, 44%, 0.3);
    outline-width: 4px;
    outline-style: solid;
  }
}
