.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.alert-list {
  min-height: 0;
  flex-grow: 1;
}

.action {
  display: flex;
  height: var(--app-components-tool-bar-touch-target-size);
  padding: 0px var(--app-components-alert-toolbar-margin-horizontal);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  border-top: 1px solid var(--border-divider-color);
  background: var(--container-section-color);
  box-shadow: var(--shadow-flat);

  .btn-group {
    display: flex;
  }
}

.alert-list.all ::slotted([shelved]) {
  display: none;
}

.alert-list.shelved ::slotted(:not([shelved])) {
  display: none;
}

.alert-list.unacked {
  ::slotted(:not([status='unacknowledged'])),
  ::slotted([shelved]) {
    display: none;
  }
}
