* {
  box-sizing: border-box;
}

button {
  position: relative;
  padding: 0;
  appearance: none;
  border: none;
  background-color: transparent;
}

.wrapper.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 0;
  padding-right: 8px;
  background: transparent;
  height: 48px;
  width: 56px;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin font-button;

  &.standalone {
    width: 48px;
    padding-right: 0;
  }

  &.counter {
    width: 64px;

    &.standalone {
      width: 72px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  & .icon {
    height: 24px;
    width: 24px;
  }

  & .visible-wrapper {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    gap: 2px;
    padding: 0 4px;
  }

  &.standalone:not(.counter) .visible-wrapper {
    width: 32px;
  }

  &:not(.standalone) {
    & .visible-wrapper {
      border-radius: 0 6px 6px 0;
    }
  }

  &.type-alarm {
    @mixin style style=alarm visibleWrapperClass=.visible-wrapper;
    color: var(--on-alarm-active-color);

    &.on {
      opacity: var(--alarm-blink-on);
    }
  }

  &.type-alarm-off {
    opacity: var(--alarm-blink-off);
  }

  &.type-warning {
    @mixin style style=warning visibleWrapperClass=.visible-wrapper;

    & .visible-wrapper {
      color: var(--on-warning-active-color, #fff);

      & .badge {
        color: var(--on-warning-active-color, #fff);
      }
    }

    &.on {
      opacity: var(--warning-blink-on);
    }
  }

  &.type-warning-off {
    opacity: var(--warning-blink-off);
  }

  &.type-caution {
    @mixin style style=caution visibleWrapperClass=.visible-wrapper;

    & .visible-wrapper {
      color: var(--on-caution-active-color, #fff);

      & .badge {
        color: var(--on-caution-active-color, #fff);
      }
    }
  }

  &.type-running {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;

    & .icon {
      color: var(--alert-running-color);
    }
  }

  &.type-command {
    @mixin style style=notification visibleWrapperClass=.visible-wrapper;

    & .visible-wrapper {
      color: var(--on-running-active-color, #fff);

      & .badge {
        color: var(--on-running-active-color, #fff);
      }
    }
  }

  &.type-notification {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;

    & .icon {
      color: var(--instrument-enhanced-secondary-color);
    }
  }

  &.type-none {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    color: var(--on-normal-active-color);

    & .icon {
      color: var(--on-normal-neutral-color);
    }
  }

  &.type-flat {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
    color: var(--on-flat-active-color);

    & .icon {
      color: var(--on-flat-neutral-color);
    }
  }
}
