* {
  box-sizing: border-box;
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  min-height: var(--global-size-spacing-touch-target-min);
  min-width: var(--global-size-spacing-touch-target-min);
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-width: var(--global-size-spacing-touch-target-min);
}

.icon {
  display: block;
  width: var(--ui-components-icon-button-icon-size);
  height: var(--global-size-spacing-icon-icon-size-regular);
}

.alert-button {
  .type-flat & {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
  }

  .type-normal & .visible-wrapper,
  .type-enhanced & .visible-wrapper {
    width: var(--app-components-alert-components-global-alert-item-alert-button-width);
  }

  .type-normal & {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
  }

  .type-enhanced.alert-type-alarm & {
    @mixin style style=alarm visibleWrapperClass=.visible-wrapper;
    & .visible-wrapper {
      color: var(--on-alarm-active-color);
    }
  }

  .type-enhanced.alert-type-warning & {
    @mixin style style=warning visibleWrapperClass=.visible-wrapper;
    & .visible-wrapper {
      color: var(--on-warning-active-color);
    }
  }

  .type-enhanced.alert-type-caution & {
    @mixin style style=caution visibleWrapperClass=.visible-wrapper;
    & .visible-wrapper {
      color: var(--on-caution-active-color);
    }
  }

  & .visible-wrapper {
    border-radius: var(--ui-components-button-border-radius-top-left) var(--ui-components-button-border-radius-top-right) var(--ui-components-button-border-radius-bottom-right) var(--ui-components-button-border-radius-bottom-left);
    height: var(--ui-components-icon-button-visual-target-size);
    min-width: var(--ui-components-icon-button-visual-target-size);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--on-normal-active-color);
    @mixin font-button;

    .has-silence & {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
  }
}

.counter .alert-button .visible-wrapper {
  padding: 0px var(--ui-components-button-padding-horizontal);
  gap: var(--app-components-alert-components-global-alert-item-counter-spacing-yo);
}

.alert-type-alarm {
  --icon-fill: var(--alarm-enabled-background-color);
  --icon-stroke: var(--alarm-pressed-border-color);
}

.alert-type-warning {
  --icon-fill: var(--warning-enabled-background-color);
  --icon-stroke: var(--warning-pressed-border-color);
}

.alert-type-caution {
  --icon-fill: var(--caution-enabled-background-color);
  --icon-stroke: var(--caution-pressed-border-color);
}

.silence-button {
  @mixin style style=normal visibleWrapperClass=.visible-wrapper;
  color: var(--on-normal-active-color);
  
  
  .visible-wrapper {
    height: var(--ui-components-icon-button-visual-target-size);
    width: var(--app-components-alert-components-global-alert-item-alert-button-width);
    border-radius: 0 var(--ui-components-button-border-radius-top-right) var(--ui-components-button-border-radius-bottom-right) 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}