.card {
  @mixin card;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  box-sizing: border-box;
  width: 360px;
  gap: 8px;
}
h3 {
  @mixin font-overline;
  color: var(--element-neutral-color, rgba(0, 0, 0, 0.59));
  margin-bottom: 16px;
}

.divider {
  height: 1px;
  align-self: stretch;
  margin-top: 16px;
  margin-bottom: 16px;

  border-radius: 2px;
  background: var(--border-outline-color, rgba(0, 0, 0, 0.08));
}
