:host {
  isolation: isolate;
}

.outer-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
  height: 48px;

  &.has-labels:not(.inline-label) {
    padding-top: 4px;
    height: 64px;
  }

  &.has-labels .wrapper,
  &.has-labels {
    align-items: initial;
  }

  &.hug-text {
    width: fit-content;
  }
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 6px;
  outline: 1px solid var(--indent-enabled-border-color, rgba(0, 0, 0, 0.05));
  outline-offset: -1px;
  background: var(--indent-enabled-background-color, rgba(0, 0, 0, 0.05));
}
.outer-wrapper.flat .wrapper {
  background: none;
  outline: none;
}

.outer-wrapper.regular {
  ::slotted(*:not(:first-child):not([selected]))::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -0.5px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -1;
    display: block;
    height: 16px;
    width: 1px;
    border-radius: 1px;
    background: var(--border-divider-color, rgba(0, 0, 0, 0.08));
  }
}

::slotted([nodivider])::before {
  content: none !important;
}
