:host {
  box-sizing: border-box;
  display: block;
  padding: 8px 0;
  height: 48px;
}

:host([has-labels]) {
  padding-top: 4px;
  height: 64px;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 32px;
  border-radius: 6px;
  border: 1px solid var(--indent-enabled-border-color, rgba(0, 0, 0, 0.05));
  background: var(--indent-enabled-background-color, rgba(0, 0, 0, 0.05));
  gap: 1px;
}

::slotted(*:not(:first-child))::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  margin-left: -2px;
  display: block;
  height: 16px;
  width: 1px;
  border-radius: 1px;
  background: var(--border-divider-color, rgba(0, 0, 0, 0.08));
}

::slotted(*:last-child) {
  margin-right: -2px;
}