* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.alert-list {
  height: 100%;
}

.empty-list {
  @mixin alert-list-empty;
}

::slotted(*) {
  display: block;
  will-change: transform;
}
