:host {
  display: inline-block;
  width: var(--global-size-spacing-touch-target-min);
  height: var(--global-size-spacing-touch-target-min);
  min-width: var(--global-size-spacing-touch-target-min);
  min-height: var(--global-size-spacing-touch-target-min);
}

.gauge-bar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .gauge-bar__frame {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--instrument-frame-primary-color);
    border-radius: 2px;

    &.gauge-bar__frame--vertical {
      width: 12px;
      height: 36px;
    }

    &.gauge-bar__frame--horizontal {
      width: 36px;
      height: 12px;
    }
  }

  .gauge-bar__track {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 1px;
  }

  .gauge-bar__unfilled {
    position: absolute;
    background: var(--instrument-frame-primary-color);
    box-sizing: border-box;
    z-index: 0;

    &.gauge-bar__unfilled--vertical {
      top: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid var(--instrument-frame-tertiary-color);
      border-left: 1px solid var(--instrument-frame-tertiary-color);
      border-right: 1px solid var(--instrument-frame-tertiary-color);
      border-radius: 2px 2px 0 0;
    }

    &.gauge-bar__unfilled--horizontal {
      top: 0;
      right: 0;
      height: 100%;
      border-top: 1px solid var(--instrument-frame-tertiary-color);
      border-right: 1px solid var(--instrument-frame-tertiary-color);
      border-bottom: 1px solid var(--instrument-frame-tertiary-color);
      border-radius: 0 2px 2px 0;
    }
  }

  .gauge-bar__fill {
    position: absolute;
    overflow: hidden;
    z-index: 1;

    &.gauge-bar__fill--fill {
      background: var(--instrument-enhanced-secondary-color);
    }

    &.gauge-bar__fill--tinted {
      background: var(--instrument-enhanced-tertiary-color);
    }

    &.gauge-bar__fill--vertical {
      left: 0;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 1px 1px;
    }

    &.gauge-bar__fill--tinted-vertical {
      min-height: 2px;
    }

    &.gauge-bar__fill--horizontal {
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 1px 0 0 1px;
    }

    &.gauge-bar__fill--tinted-horizontal {
      min-width: 2px;
    }

    &.gauge-bar__fill--full {
      border-radius: 1px;
    }
  }

  .gauge-bar__pointer {
    position: absolute;
    background: var(--instrument-enhanced-secondary-color);

    &.gauge-bar__pointer--vertical {
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
    }

    &.gauge-bar__pointer--horizontal {
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
    }
  }
}
