.wrapper {
  background: transparent;
  padding: 0 var(--ui-components-icon-button-padding-right) 0px var(--ui-components-icon-button-padding-left);

  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & .visible-wrapper {
    height: var(--ui-components-icon-button-visual-target-size);
    width: var(--ui-components-icon-button-visual-target-size);
    border-radius: var(--ui-components-button-border-radius-top-left) var(--ui-components-button-border-radius-top-right) var(--ui-components-button-border-radius-bottom-right) var(--ui-components-button-border-radius-bottom-left);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.corner-left {
    justify-content: flex-end;
    & .visible-wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.corner-right {
    justify-content: flex-start;
    & .visible-wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & .icon {
    width: var(--ui-components-icon-button-icon-size);
    height: var(--ui-components-icon-button-icon-size);
  }

  &.variant-normal {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    color: var(--on-normal-neutral-color);

    &.active-color {
      color: var(--on-normal-active-color);
    }
  }

  &.variant-flat {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
    color: var(--on-flat-neutral-color);

    &.active-color {
      color: var(--on-flat-active-color);
    }
  }

  &.variant-raised {
    @mixin style style=raised visibleWrapperClass=.visible-wrapper;
    color: var(--on-raised-active-color);

    &.active-color {
      color: var(--on-raised-active-color);
    }
  }
}
