.wrapper {
  padding: 0;
  background: transparent;
  height: 48px;
  width: 48px;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & .visible-wrapper {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.corner-left {
    justify-content: flex-end;
    & .visible-wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.corner-right {
    justify-content: flex-start;
    & .visible-wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.size-regular .visible-wrapper {
    height: 32px;
    width: 32px;
  }

  &.size-large .visible-wrapper {
    height: 48px;
    width: 48px;
  }

  & .icon {
    height: 24px;
    width: 24px;
  }

  &.variant-normal {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    color: var(--on-normal-neutral-color);

    &.active-color {
      color: var(--on-normal-active-color);
    }
  }

  &.variant-flat {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
    color: var(--on-flat-neutral-color);

    &.active-color {
      color: var(--on-flat-active-color);
    }
  }

  &.variant-raised {
    @mixin style style=raised visibleWrapperClass=.visible-wrapper;
    color: var(--on-raised-active-color);

    &.active-color {
      color: var(--on-raised-active-color);
    }
  }
}
