* {
  box-sizing: border-box;
}

.wrapper {
  background: transparent;
  position: relative;
  min-height: var(--ui-components-button-touch-target-size);
  min-width: var(--ui-components-button-touch-target-size);
  padding: 0;

  appearance: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .visible-wrapper {
    position: relative;
    height: var(--ui-components-icon-button-visual-target-size);
    width: var(--ui-components-icon-button-visual-target-size);
    box-sizing: border-box;
    border-radius: var(--ui-components-button-border-radius-top-left)
      var(--ui-components-button-border-radius-top-right)
      var(--ui-components-button-border-radius-bottom-right)
      var(--ui-components-button-border-radius-bottom-left);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.corner-left {
    align-items: flex-end;
    padding-right: 0;

    & .visible-wrapper {
      width: calc(
        var(--ui-components-icon-button-visual-target-size) +
          var(--ui-components-icon-button-padding-right)
      );
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.corner-right {
    align-items: flex-start;
    padding-left: 0;

    & .visible-wrapper {
      width: calc(
        var(--ui-components-icon-button-visual-target-size) +
          var(--ui-components-icon-button-padding-left)
      );
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.corner-left.corner-right {
    & .visible-wrapper {
      width: var(--ui-components-button-touch-target-size);
    }
  }

  &.wide .visible-wrapper {
    width: var(--ui-components-button-touch-target-size);
  }

  & .icon {
    width: var(--ui-components-icon-button-icon-size);
    height: var(--ui-components-icon-button-icon-size);
  }

  & .progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.has-label {
    padding: var(--ui-components-icon-button-padding-vertical) 0;
  }

  & .label {
    @mixin font-label;
  }

  &.variant-normal {
    @mixin style style=normal visibleWrapperClass=.visible-wrapper;
    color: var(--on-normal-neutral-color);

    &.active-color {
      color: var(--on-normal-active-color);
    }

    &.activated .visible-wrapper {
      border-color: var(--normal-pressed-border-color);
      background-color: var(--normal-pressed-background-color);
    }
  }

  &.variant-flat {
    @mixin style style=flat visibleWrapperClass=.visible-wrapper;
    color: var(--on-flat-neutral-color);

    &.active-color {
      color: var(--on-flat-active-color);
    }
  }

  &.variant-raised {
    @mixin style style=raised visibleWrapperClass=.visible-wrapper;
    color: var(--on-raised-active-color);

    &.active-color {
      color: var(--on-raised-active-color);
    }
  }

  &.variant-integration {
    @mixin style style=integration-normal visibleWrapperClass=.visible-wrapper;
    color: var(--integration-on-normal-neutral-color);

    .visible-wrapper {
      border: 0;
    }
  }
}
