:host:not([wrapcontent]) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  --bg-color: var(--alert-alarm-color);
  --thickness: var(--global-size-spacing-border-weight-alertframe);
  --blink-on: var(--alarm-blink-on);
  color: var(--on-alarm-active-color);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: calc(
    var(--ui-components-button-border-radius) + var(--thickness) / 2
  );
  outline: var(--thickness) solid var(--bg-color);
  outline-offset: 0;
  --blink-width: 2px;
  &.thickness-small {
    --thickness: 2px;
    --blink-width: 1px;
  }

  &.wrap-content {
    width: fit-content;
    height: fit-content;
  }

  --blink-width-dynamic: calc(var(--blink-width) * var(--blink-on));

  &.unacked-active {
    outline-width: calc(var(--thickness) + var(--blink-width-dynamic));
  }

  &.warning {
    --bg-color: var(--alert-warning-color);
    --blink-on: var(--warning-blink-on);
    color: var(--on-warning-active-color);
  }

  &.caution {
    --bg-color: var(--alert-caution-color);
    --blink-on: 1;
    color: var(--on-caution-active-color);
  }

  &.sharp-edge-top-left {
    border-top-left-radius: 0;
  }

  &.sharp-edge-top-right {
    border-top-right-radius: 0;
  }

  &.sharp-edge-bottom-left {
    border-bottom-left-radius: 0;
  }

  &.sharp-edge-bottom-right {
    border-bottom-right-radius: 0;
  }
}

.flap {
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 0px var(--app-components-alert-frame-small-flip-border-radius)
    var(--app-components-alert-frame-small-flip-border-radius) 0px;
  padding: var(--app-components-badge-padding);

  display: flex;
  gap: 2px;

  &.small {
    top: calc(-1 * var(--thickness));
    right: calc(
      -1 * var(--app-components-alert-frame-icon-size) - var(--thickness) / 2 -
        var(--app-components-badge-padding) * 2
    );
  }

  .mask {
    position: absolute;
    width: var(--ui-components-button-border-radius);
    height: var(--ui-components-button-border-radius);
    background-color: var(--bg-color);

    &.up {
      width: calc(
        var(--ui-components-button-border-radius) + var(--thickness) + 0.5px
      );
      top: 0;
      left: calc(
        -1 * var(--ui-components-button-border-radius) - var(--thickness)
      );
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        calc(100% - var(--thickness)) 50%,
        50% var(--thickness)
      );

      .unacked-active & {
        top: calc(-1 * var(--blink-width-dynamic));
      }
    }

    &.down {
      width: calc(
        var(--ui-components-button-border-radius) + var(--thickness) + 0.5px
      );
      bottom: 0;
      left: calc(
        -1 * var(--ui-components-button-border-radius) - var(--thickness)
      );
      clip-path: polygon(
        0 100%,
        100% 100%,
        100% 0,
        50% calc(100% - var(--thickness)),
        calc(100% - var(--thickness)) 50%
      );

      .unacked-active & {
        bottom: calc(-1 * var(--blink-width-dynamic));
      }
    }

    &.left {
      height: calc(
        var(--ui-components-button-border-radius) + var(--thickness) + 0.5px
      );
      top: calc(
        -1 * var(--ui-components-button-border-radius) - var(--thickness)
      );
      left: 0;
      clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        50% calc(100% - var(--thickness)),
        var(--thickness) 50%
      );

      .unacked-active & {
        left: calc(-1 * var(--blink-width-dynamic));
      }

      .top & {
        top: unset;
        bottom: calc(
          -1 * var(--ui-components-button-border-radius) - var(--thickness)
        );
        clip-path: polygon(
          0 100%,
          0 0,
          100% 0,
          50% var(--thickness),
          var(--thickness) 50%
        );
      }
    }

    &.right {
      height: calc(
        var(--ui-components-button-border-radius) + var(--thickness) + 0.5px
      );
      top: calc(
        -1 * var(--ui-components-button-border-radius) - var(--thickness)
      );
      right: 0;
      clip-path: polygon(
        100% 0,
        100% 100%,
        0 100%,
        50% calc(100% - var(--thickness)),
        calc(100% - var(--thickness)) 50%
      );

      .top & {
        top: unset;
        bottom: calc(
          -1 * var(--ui-components-button-border-radius) - var(--thickness)
        );
        clip-path: polygon(
          100% 100%,
          100% 0,
          0 0,
          50% var(--thickness),
          calc(100% - var(--thickness)) 50%
        );
      }

      .unacked-active & {
        right: calc(-1 * var(--blink-width-dynamic));
      }
    }
  }

  &.large {
    flex-direction: column;
    top: calc(-1 * var(--thickness));
    bottom: calc(-1 * var(--thickness));
    right: calc(
      -1 * var(--app-components-alert-frame-icon-size) - var(--thickness) / 2 -
        var(--app-components-badge-padding) * 2
    );
    border-radius: 0px
      var(--app-components-alert-frame-large-flip-border-radius)
      var(--app-components-alert-frame-large-flip-border-radius) 0px;
  }

  &.bottom,
  &.top {
    left: calc(-1 * var(--thickness));
    right: calc(-1 * var(--thickness));
    padding: var(--app-components-alert-frame-large-flip-padding-vertical)
      var(--app-components-alert-frame-large-flip-4px-padding-horizontal);
    bottom: calc(
      -1 * var(--thickness) / 2 -
        var(--global-typography-ui-label-line-height) -
        var(--app-components-alert-frame-large-flip-padding-vertical) * 2
    );
    border-radius: 0px 0px var(--button-border-radius-bottom-right)
      var(--button-border-radius-bottom-right);
    align-items: center;

    @mixin font-label;
    font-weight: var(--font-weight-regular);

    & .spacer {
      flex: 1;
    }

    .text-size-large & {
      @mixin font-body;
      bottom: calc(
        var(--thickness) / 2 - var(--global-typography-ui-body-line-height) -
          var(--app-components-alert-frame-large-flip-padding-vertical) * 2
      );

      .label {
        @mixin font-body-active;
      }
    }
  }

  &.top {
    bottom: unset !important;
    top: calc(
      -1 * var(--thickness) / 2 -
        var(--global-typography-ui-label-line-height) -
        var(--app-components-alert-frame-large-flip-padding-vertical) * 2
    );
    border-radius: var(--button-border-radius-bottom-right)
      var(--button-border-radius-bottom-right) 0px 0px;

    .text-size-large & {
      top: calc(
        var(--thickness) / 2 - var(--global-typography-ui-body-line-height) -
          var(--app-components-alert-frame-large-flip-padding-vertical) * 2
      );
    }
  }

  .label {
    flex-shrink: 1000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.unacked-active .flap {
  outline: var(--bg-color) solid var(--blink-width-dynamic);
}

::slotted([slot="label"]) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  width: var(--app-components-alert-frame-icon-size);
  height: var(--app-components-alert-frame-icon-size);
  display: block;
  flex-shrink: 0;
}
