:host {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  padding: 0 5px;
  transform: translateY(-100%);

  @mixin style style=flat visibleWrapperClass=.visible-wrapper;
}

.visible-wrapper {
  border-color: rgba(255, 255, 255, 0.3) !important;
  width: 100%;
  height: 38px;
  border-radius: 18px;
}

.backdrop {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}
